<div class="page-container"><!-- add class "sidebar-collapsed" to close sidebar by default, "chat-visible" to make chat appear always -->

  <%= render 'layouts/sidebar' %>



  <div class="main-content">
    <%= render 'layouts/dealer_admin_nav' %>

    <div class="panel-body">
      <h2>Edit <%= @employee.name %></h2>
    <%= form_for [@dealership, @employee], :html => {:class => "form-horizontal form-groups-bordered"} do |f| %>
    <%= render 'layouts/error_messages', object: f.object %>
    <div class="form-group">
      <label class="col-sm-3 control-label">First Name</label>
      <div class="col-sm-5">
        <% if @fields %>
          <%= f.text_field :first, value: @fields["first"], class: "form-control" %>
        <% else %>
          <%= f.text_field :first, class: "form-control" %>
        <% end %>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-3 control-label">Last Name</label>
      <div class="col-sm-5">
        <% if @fields %>
          <%= f.text_field :last, value: @fields["last"], class: "form-control" %>
        <% else %>
          <%= f.text_field :last, class: "form-control" %>
        <% end %>
      </div>
    </div>


    <div class="form-group">
      <label class="col-sm-3 control-label">Social Security Number</label>
      <div class="col-sm-5">
        <% if @fields %>
          <%= f.text_field :ssn, value: @fields["ssn"], class: "form-control" %>
        <% else %>
          <%= f.text_field :ssn, class: "form-control" %>
        <% end %>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-3 control-label">E-Mail</label>
      <div class="col-sm-5">
        <% if @fields %>
          <%= f.text_field :email, value: @fields["email"],class: "form-control" %>
        <% else %>
          <%= f.text_field :email, class: "form-control" %>
        <% end %>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-3 control-label">Phone</label>
      <div class="col-sm-5">
        <% if @fields %>
          <%= f.text_field :phone, value: @fields["phone"], class: "form-control" %>
        <% else %>
          <%= f.text_field :phone, class: "form-control" %>
        <% end %>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-3 control-label">Address Line 1</label>
      <div class="col-sm-5">
        <% if @fields %>
          <%= f.text_field :address_line_1, value: @fields["address_line_1"], class: "form-control" %>
        <% else %>
          <%= f.text_field :address_line_1, class: "form-control" %>
        <% end %>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-3 control-label">Address Line 2</label>
      <div class="col-sm-5">
        <% if @fields %>
          <%= f.text_field :address_line_2, value: @fields["address_line_2"], class: "form-control" %>
        <% else %>
          <%= f.text_field :address_line_2, class: "form-control" %>
        <% end %>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-3 control-label">City</label>
      <div class="col-sm-5">
        <% if @fields %>
          <%= f.text_field :address_city, value: @fields["address_city"], class: "form-control" %>
        <% else %>
          <%= f.text_field :address_city, class: "form-control" %>
        <% end %>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-3 control-label">State</label>
      <div class="col-sm-5">
        <%= f.select :address_state, @us_states, include_blank: "Please select a state"%>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-3 control-label">Address Zip</label>
      <div class="col-sm-5">
        <% if @fields %>
          <%= f.text_field :address_zip, value: @fields["address_zip"], class: "form-control" %>
        <% else %>
          <%= f.text_field :address_zip, class: "form-control" %>
        <% end %>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-3 control-label">Drivers License Photo</label>
      <div class="col-sm-5">
        <%= f.file_field :license_photo, class: "form-control" %>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-3 control-label">Notes</label>
      <div class="col-sm-5">
        <% if @fields %>
          <%= f.text_area :description,  class: "form-control" , value: @fields["description"] %>
        <% else %>
          <%= f.text_area :description,  class: "form-control"  %>
        <% end %>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-3 control-label">Upload an Image</label>
      <div class="col-sm-5">
        <%= f.file_field :image, class: "form-control" %>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-3 control-label"></label>
      <div class="col-sm-5">
            <%= f.submit "Update Employee", :class => 'btn btn-success'  %>

      </div>
    </div>

    <% end %>
    </div>
  </div>




  </div>
</div>



