<div class="page-container"><!-- add class "sidebar-collapsed" to close sidebar by default, "chat-visible" to make chat appear always -->

  <%= render 'layouts/sidebar' %>



  <div class="main-content">
    <%= render 'layouts/dealer_admin_nav' %>

    <div class="panel-body">
      <h2>Edit <%= @employee.name %></h2>
      <br/>
    <%= form_for [@dealership, @employee], :html => {:class => "form-horizontal form-groups-bordered"} do |f| %>
    <%= render 'layouts/error_messages', object: f.object %>

    <div class="row">
      <div class="col-md-4">
          <% if @fields %>
            <%= f.text_field :number, value: @fields["number"], class: "form-control", placeholder: "Number" %>
          <% else %>
            <%= f.text_field :number, class: "form-control", placeholder: "Number" %>
          <% end %>
      </div>
      <div class="col-md-4">
        <% if @fields %>
          <%= f.text_field :first, value: @fields["first"], class: "form-control", placeholder: "First Name" %>
        <% else %>
          <%= f.text_field :first, class: "form-control", placeholder: "First Name" %>
        <% end %>
      </div>
      <div class="col-md-4">
          <% if @fields %>
            <%= f.text_field :last, value: @fields["last"], class: "form-control", placeholder: "Last Name" %>
          <% else %>
            <%= f.text_field :last, class: "form-control", placeholder: "Last Name" %>
          <% end %>
      </div>
    </div>
    <br/>

    <div class="row">
      <div class="col-md-4">
          <% if @fields %>
            <%= f.text_field :title, value: @fields["title"], class: "form-control", placeholder: "Title" %>
          <% else %>
            <%= f.text_field :title, class: "form-control", placeholder: "Title" %>
          <% end %>
      </div>
      <div class="col-md-4">
          <% if @fields %>
            <%= f.text_field :driver_license_number, value: @fields["driver_license_number"], class: "form-control", placeholder: "Drivers License Number" %>
          <% else %>
            <%= f.text_field :driver_license_number, class: "form-control", placeholder: "Drivers License Number" %>
          <% end %>

      </div>
      <div class="col-md-4">
        <% if @fields %>
          <%= f.text_field :sales_license, value: @fields["sales_license"], class: "form-control", placeholder: "Sales License Number" %>
        <% else %>
          <%= f.text_field :sales_license, class: "form-control", placeholder: "Sales License Number" %>
        <% end %>
      </div>
    </div>
    <br/>

    <div class="row">
      <div class="col-md-4">
          <% if @fields %>
            <%= f.text_field :ssn, value: @fields["ssn"], class: "form-control", placeholder: "Social Security Number (Last 4)" %>
          <% else %>
            <%= f.text_field :ssn, class: "form-control", placeholder: "Social Security Number (Last 4)" %>
          <% end %>
      </div>
      <div class="col-md-4">
          <% if @fields %>
            Birthday &nbsp;
            <%= f.date_field :birthday, value: @fields["birthday"], class: "form-control date_form" %>
          <% else %>
            Birthday &nbsp;
            <%= f.date_field :birthday, class: "form-control date_form" %>
          <% end %>
      </div>
      <div class="col-md-4">
          <% if @fields %>
            Hire Date &nbsp;
            <%= f.date_field :hire_date, value: @fields["hire_date"], class: "form-control date_form" %>
          <% else %>
            Hire Date &nbsp;
            <%= f.date_field :hire_date, class: "form-control date_form" %>
          <% end %>
      </div>
    </div>
    <br/>
    <div class="row">
      <div class="col-md-4">
          <% if @fields %>
            Termination Date &nbsp;
            <%= f.date_field :terminate_date, value: @fields["terminate_date"], class: "form-control date_form" %>
          <% else %>
            Termination Date &nbsp;
            <%= f.date_field :terminate_date, class: "form-control date_form" %>
          <% end %>
      </div>
    </div>
    <br/>


    <h4>Contact Information</h4>
    <br/>

    <div class="row">
      <div class="col-md-4">
          <% if @fields %>
            <%= f.text_field :address_line_1, value: @fields["address_line_1"], class: "form-control", placeholder: "Address Line 1" %>
          <% else %>
            <%= f.text_field :address_line_1, class: "form-control", placeholder: "Address Line 1" %>
          <% end %>
      </div>
      <div class="col-md-4">
          <% if @fields %>
            <%= f.text_field :address_line_2, value: @fields["address_line_2"], class: "form-control", placeholder: "Address Line 2" %>
          <% else %>
            <%= f.text_field :address_line_2, class: "form-control", placeholder: "Address Line 2" %>
          <% end %>
      </div>
      <div class="col-md-4">
          <% if @fields %>
            <%= f.text_field :address_city, value: @fields["address_city"], class: "form-control", placeholder: "City" %>
          <% else %>
            <%= f.text_field :address_city, class: "form-control", placeholder: "City" %>
          <% end %>
      </div>
    </div>
    <br/>

    <div class="row">
      <div class="col-md-4">
          <%= f.select :address_state, @us_states, include_blank: "Please select a state"%>
      </div>
      <div class="col-md-4">
          <% if @fields %>
            <%= f.text_field :address_zip, value: @fields["address_zip"], class: "form-control", placeholder: "Zip" %>
          <% else %>
            <%= f.text_field :address_zip, class: "form-control", placeholder: "Zip" %>
          <% end %>
      </div>
      <div class="col-md-4">
          <% if @fields %>
            <%= f.text_field :email, value: @fields["email"],class: "form-control", placeholder: "E-Mail" %>
          <% else %>
            <%= f.text_field :email, class: "form-control", placeholder: "E-Mail" %>
          <% end %>
      </div>
    </div>
    <br/>

    <div class="row">
      <div class="col-md-4">
          <% if @fields %>
            <%= f.text_field :phone, value: @fields["phone"], class: "form-control", placeholder: "Phone"  %>
          <% else %>
            <%= f.text_field :phone, class: "form-control", placeholder: "Phone"  %>
          <% end %>
      </div>
    </div>
    <br/>


















    <div class="form-group">
      <div class="col-sm-5">
            <%= f.submit "Update Employee", :class => 'btn btn-success'  %>

      </div>
    </div>

    <% end %>
    </div>
  </div>




  </div>
</div>



