<div class="page-container"><!-- add class "sidebar-collapsed" to close sidebar by default, "chat-visible" to make chat appear always -->

  <%= render 'layouts/sidebar' %>



  <div class="main-content">
    <%= render 'layouts/dealer_admin_nav' %>

    <div class="panel-body">
      <h2>Add an Employee</h2>
      <br/>
    <%= form_for [@dealership, @employee], :html => {:class => "form-horizontal form-groups-bordered"} do |f| %>
    <%= render 'layouts/error_messages', object: f.object %>

    <div class="row">
      <div class="col-md-4">
          <%= f.text_field :number, class: "form-control", placeholder: "Number" %>
      </div>
      <div class="col-md-4">
          <%= f.text_field :first, class: "form-control", placeholder: "First Name" %>
      </div>
      <div class="col-md-4">
          <%= f.text_field :last, class: "form-control", placeholder: "Last Name" %>
      </div>
    </div>
    <br/>


    <div class="row">
      <div class="col-md-4">
          <%= f.text_field :title, class: "form-control", placeholder: "Title" %>
      </div>
      <div class="col-md-4">
          <%= f.text_field :driver_license_number, class: "form-control", placeholder: "Drivers License Number" %>
      </div>
      <div class="col-md-4">
          <%= f.text_field :sales_license, class: "form-control", placeholder: "Sales License Number" %>
      </div>
    </div>
    <br/>

    <div class="row">
      <div class="col-md-4">
          <%= f.text_field :ssn, class: "form-control", placeholder: "Social Security Number (Last 4)" %>
      </div>
      <div class="col-md-4">
          Birthday &nbsp;
          <%= f.date_field :birthday, class: "form-control date_form", placeholder: "Birthday" %>
      </div>
      <div class="col-md-4">
          Hire Date &nbsp;
          <%= f.date_field :hire_date, class: "form-control date_form", placeholder: "Hire Date" %>
      </div>
    </div>
    <br/>
    <div class="row">
      <div class="col-md-4">
          Termination Date &nbsp;
          <%= f.date_field :terminate_date, class: "form-control date_form ", placeholder: "Termination Date" %>
      </div>
    </div>
    <br/>




    <h4>Contact Information</h4>
    <br/>

    <div class="row">
      <div class="col-md-4">
          <%= f.text_field :address_line_1, class: "form-control", placeholder: "Address Line 1" %>
      </div>
      <div class="col-md-4">
          <%= f.text_field :address_line_2, class: "form-control", placeholder: "Address Line 2" %>
      </div>
      <div class="col-md-4">
          <%= f.text_field :address_city, class: "form-control", placeholder: "City" %>
      </div>
    </div>
    <br/>

    <div class="row">
      <div class="col-md-4">
          <%= f.select :address_state, @us_states, include_blank: "Please select a state"%>
      </div>
      <div class="col-md-4">
          <%= f.text_field :address_zip, class: "form-control", placeholder: "Zip" %>
      </div>
      <div class="col-md-4">
          <%= f.text_field :email, class: "form-control", placeholder: "E-Mail" %>
      </div>
    </div>
    <br/>

    <div class="row">
      <div class="col-md-4">
          <%= f.text_field :phone, class: "form-control", placeholder: "Phone" %>
      </div>
    </div>
    <br/>






    <div class="form-group">
      <div class="col-sm-5">
            <%= f.submit "Create Employee", :class => 'btn btn-success'  %>

      </div>
    </div>

    <% end %>
    </div>
  </div>




  </div>
</div>



