<div class="page-container"><!-- add class "sidebar-collapsed" to close sidebar by default, "chat-visible" to make chat appear always -->

  <%= render 'layouts/sidebar' %>



  <div class="main-content">
    <%= render 'layouts/dealer_admin_nav' %>

    <div class="profile-env">

      <header class="row">

        <div class="col-sm-2">

          <a href="#" class="profile-picture">
            <img src="<%= @employee.image %>" height ="115" width="115" style="border-radius: 50%;" />
          </a>

        </div>

        <div class="col-sm-7">

          <ul class="profile-info-sections">
            <li>
              <div class="profile-name">
                <strong><%= @employee.name %></strong>
                <span><%= @employee.title.length > 0 ? @employee.title : "Title not entered" %></span>
              </div>
            </li>

            <li>
              <div class="profile-stat">
                <h3><%= @employee.phone.length > 0 ? @employee.phone : "N/A" %></h3>
                <span><a href="#">Phone Number</a></span>
              </div>
            </li>

          </ul>

        </div>

        <div class="col-sm-3">

          <div class="profile-buttons">
            <a href="/dealerships/<%=@dealership.id%>/employees/<%=@employee.id%>/edit" class="btn btn-info">
              <i class="entypo-pencil"></i>
              Edit Employee
            </a>



          </div>
        </div>

      </header>

      <section class="profile-info-tabs">

        <div class="row">
          <div class="col-sm-offset-2 col-sm-10">







            <!-- tabs for the profile links -->
            <ul class="nav nav-tabs">
              <li class="active"><a href="#details" data-toggle="tab">Employee Details</a></li>
              <li><a href="#deal" data-toggle="tab">Deals</a></li>
              <li><a href="#paycheck" data-toggle="tab">Payments</a></li>

            </ul>




          </div>


        </div>

      </section>
      <div class="tab-content">

        <div class="tab-pane active" id="details">
          <div class="panel panel-dark" data-collapsed="0">
            <div class="panel-heading">
              <div class="panel-title">Basics</div>
            </div>
            <div class="panel-body">
              <div class="row">
                <div class="col-md-4">
                  <p><i class="entypo-forward"></i>Employee Number: <%= @employee.number ? "#{@employee.number}" : "Not Entered" %></p>
                  <p><i class="entypo-forward"></i>Email: <%= @employee.email.length > 0 ? "#{@employee.email}" : "Not Entered" %></p>
                  <p><i class="entypo-forward"></i>SSN (Last 4): <%= @employee.ssn.length > 0  ? "#{@employee.ssn}" : "Not Entered" %></p>
                  <p><i class="entypo-forward"></i>Termination Date: <%= @employee.terminate_date ? "#{@employee.terminate_date.strftime("%m/%d/%Y")}" : "Not Entered" %></p>
                </div>
                <div class="col-md-4">
                  <p><i class="entypo-forward"></i>Sales License Number: <%= @employee.sales_license.length > 0 ? "#{@employee.sales_license}" : "Not Entered" %></p>
                  <p><i class="entypo-forward"></i>Phone: <%= @employee.phone.length > 0 ? "#{@employee.phone}" : "Not Entered" %></p>
                  <p><i class="entypo-forward"></i>Birthday: <%= @employee.birthday ? "#{@employee.birthday.strftime("%m/%d/%Y")}" : "Not Entered" %></p>
                </div>
                <div class="col-md-4">
                  <p><i class="entypo-forward"></i>Drivers License Number: <%= @employee.driver_license_number.length > 0 ? "#{@employee.driver_license_number}" : "Not Entered" %></p>
                  <p><i class="entypo-forward"></i>Address: <%= @employee.address.length > 5 ? "#{@employee.address}" : "Not Entered" %></p>
                  <p><i class="entypo-forward"></i>Hire Date: <%= @employee.hire_date ? "#{@employee.hire_date.strftime("%m/%d/%Y")}" : "Not Entered" %></p>

                </div>
            </div>
          </div>
          </div>




          <div class="panel panel-dark" data-collapsed="0">
            <div class="panel-heading">
              <div class="panel-title">Notes</div>
            </div>
            <div class="panel-body">
              <div class="row">
                <div class="col-md-8">
                  <%= @employee.description && @employee.description.length > 0  ? @employee.description : "No notes have been entered" %>
                </div>
              </div>
            </div>
        </div>

        <%= link_to "<i class='entypo-cross'></i> Delete Employee".html_safe, dealership_employee_path(@dealership, @employee), class: "btn btn-danger", role: "button", method: "delete", confirm: "Are you sure?" %>

      </div>
        <div class="tab-pane" id="deal">
         <%= link_to "<i class='entypo-plus'></i> Add Deal".html_safe, new_dealership_temp_path(@dealership), class: "btn btn-success", role: "button" %>


           <ul class="nav nav-tabs">
            <li class="active"><a href="#final" data-toggle="tab">Finalized Deals</a></li>
            <li><a href="#pending" data-toggle="tab">Pending Deals</a></li>

          </ul>

          <div class="tab-content">
            <div class="tab-pane active" id="final">
              <section class="profile-feed">
                <div class="profile-stories">

                  <% @deals.each do |deal| %>
                  <div class="member-entry">

                    <span class="member-img">
                      <img src="/deal.png" class="img-rounded" />
                    </span>

                    <div class="member-details">


                      <h4>
                        <% customer = Customer.find(deal.customer_id) %>
                        <% employee = Employee.find(deal.employee_id) %>
                        <% car = Car.find(deal.car_id) %>
                        <%= link_to "Sold #{car.make_model_year} to #{customer.name} for  $#{number_with_precision(deal.amount, :delimiter => ',', precision: 2)} ", dealership_deal_path(@dealership, deal) %>
                      </h4>

                      <div class="row info-list">

                        <div class="col-sm-4">
                          <i class="entypo-forward"></i>
                          Date: <%= deal.date.strftime("%m/%d/%Y") %>
                        </div>

                        <div class="col-sm-4">
                          <i class="entypo-forward"></i>
                          Final Sales Price: <%= deal.amount ? "$#{number_with_precision(deal.amount, :delimiter => ',', precision: 2)}" : "Not Entered" %>
                        </div>

                        <div class="col-sm-4">
                          <i class="entypo-forward"></i>
                          Down Payment: <%= deal.down_payment ? "$#{number_with_precision(deal.down_payment, :delimiter => ',', precision: 2)}" : "Not Entered" %>
                        </div>

                        <div class="clear"></div>

                        <div class="col-sm-4">
                          <i class="entypo-forward"></i>
                          Term: <%= deal.term ? deal.term : "Not Entered" %>
                        </div>

                        <div class="col-sm-4">
                          <i class="entypo-forward"></i>
                          APR: <%= deal.apr ? deal.apr : "Not Entered" %>
                        </div>

                        <div class="col-sm-4">
                          <i class="entypo-forward"></i>
                          Trade In Value: <%= deal.trade_in_value ? "$#{number_with_precision(deal.trade_in_value, :delimiter => ',', precision: 2)}" : "Not Entered" %>
                        </div>

                      </div>
                    </div>

                  </div>
                  <% end %>
                </div>

                <% if @deals.length ==0 %>
                <br/><p><%= @employee.name %> does not have any finalized deals yet</p>
                <%end%>

              </section>
            </div>
            <div class="tab-pane" id="pending">
              <section class="profile-feed">
                <div class="profile-stories">
                  <% @temps.each do |deal| %>
                  <% customer = Customer.find(deal.customer_id) if deal.customer_id %>
                  <div class="member-entry">

                    <span class="member-img">
                      <img src="/deal.png" class="img-rounded" />
                    </span>

                    <div class="member-details">
                      <h4>
                        <% if customer %>
                        <%= link_to "Pending deal to #{customer.name} for $#{number_with_precision(deal.amount, :delimiter => ',', precision: 2)} ", dealership_temp_path(@dealership, deal) %>
                        <% else %>
                          <%= link_to "Pending deal for $#{number_with_precision(deal.amount, :delimiter => ',', precision: 2)} ", dealership_temp_path(@dealership, deal) %>
                        <% end %>
                      </h4>
                          <div class="row info-list">

                        <div class="col-sm-4">
                          <i class="entypo-forward"></i>
                          Date: <%= deal.date ? deal.date.strftime("%m/%d/%Y") : "N/A" %>
                        </div>

                        <div class="col-sm-4">
                          <i class="entypo-forward"></i>
                          Sales Price: <%= deal.amount ? "$#{number_with_precision(deal.amount, :delimiter => ',', precision: 2)}" : "Not Entered" %>
                        </div>

                        <div class="col-sm-4">
                          <i class="entypo-forward"></i>
                          Down Payment: <%= deal.down_payment ? "$#{number_with_precision(deal.down_payment, :delimiter => ',', precision: 2)}" : "Not Entered" %>
                        </div>

                        <div class="clear"></div>

                        <div class="col-sm-4">
                          <i class="entypo-forward"></i>
                          Term: <%= deal.term ? "#{deal.term}%" : "Not Entered" %>
                        </div>

                        <div class="col-sm-4">
                          <i class="entypo-forward"></i>
                          APR: <%= deal.apr ? deal.apr : "Not Entered" %>
                        </div>

                        <div class="col-sm-4">
                          <i class="entypo-forward"></i>
                          Trade In Value: <%= deal.trade_in_value ? "$#{number_with_precision(deal.trade_in_value, :delimiter => ',', precision: 2)}" : "Not Entered" %>
                        </div>

                      </div>
                    </div>

                  </div>
                  <% end %>
                  <% if @temps.length == 0 %>
                  <br/>
                  <%= "There are  no pending deals" %>
                  <% end %>
                </div>
              </section>
            </div>
          </div>




        </div>
        <div class="tab-pane" id="paycheck">

          <%= link_to "<i class='entypo-plus'></i> Add Paycheck".html_safe, new_dealership_paycheck_path(@dealership, :employee_id => @employee.id),  class: "btn btn-success", role: "button" %>
          <%= link_to "<i class='entypo-plus'></i> Add Commission".html_safe, new_dealership_commission_path(@dealership, :employee_id => @employee.id),  class: "btn btn-success", role: "button" %>

          <br/><br/>


          <ul class="nav nav-tabs">
            <li class="active"><a href="#home" data-toggle="tab">Paychecks</a></li>
            <li><a href="#profile" data-toggle="tab">Commissions</a></li>
          </ul>

          <!-- Tab panes -->
          <div class="tab-content">
            <div class="tab-pane active" id="home">

              <% if @paychecks.length > 0 %>
              <table class="table table-bordered datatable" id="table-1">
                <thead>
                  <tr>
                    <th>Amount</th>
                    <th>Date</th>
                    <th>Description</th>
                    <th>Manage</th>
                  </tr>
                </thead>
                <tbody>
                  <% @paychecks.each do |paycheck|  %>
                  <tr class="gradeU">
                    <td><%= link_to "$#{number_with_precision(paycheck.amount, :delimiter => ',', precision: 2)}", dealership_paycheck_path(@dealership, paycheck) %></td>
                    <td><%= paycheck.date.strftime("%m/%d/%Y")  %></td>
                    <td><%= paycheck.description.length > 0 ? paycheck.description : "No description entered"  %></td>
                    <td><%= link_to "Edit", edit_dealership_paycheck_path(@dealership, paycheck, employee_id: paycheck.employee_id)%> | <%= link_to "Delete", dealership_paycheck_path(@dealership, paycheck), method: "delete", confirm: "Are you sure" %></td>
                  </tr>
                  <% end %>
                </tbody>
              </table>
              <% end %>



              <%= "<br/><br/>No paychecks have been added".html_safe if @paychecks.length == 0 %>
            </div>
            <div class="tab-pane" id="profile">
              <% if @commissions.length > 0 %>
              <table class="table table-bordered datatable" id="table-1">
                <thead>
                  <tr>
                    <th>Amount</th>
                    <th>Date</th>
                    <th>Vehicle</th>
                    <th>Manage</th>
                  </tr>
                </thead>
                <tbody>
                  <% @commissions.each do |commission|  %>
                  <% car = Car.find(commission.car_id) %>
                  <tr class="gradeU">
                    <td><%= "$#{number_with_precision(commission.amount, :delimiter => ',', precision: 2)}" %></td>
                    <td><%= commission.date ? commission.date.strftime("%m/%d/%Y") : "N/A"  %></td>
                    <td><%= link_to "#{car.make_model_year}", dealership_car_path(@dealership, car)  %></td>
                    <td><%= link_to "Edit", edit_dealership_commission_path(@dealership, commission, employee_id: commission.employee_id)%> | <%= link_to "Delete", dealership_commission_path(@dealership, commission, next_page: "employee"), method: "delete", confirm: "Are you sure" %></td>
                  </tr>
                  <% end %>
                </tbody>
              </table>
              <% end %>



              <%= "<br/><br/>No commissions have been added".html_safe if @commissions.length == 0 %>

            </div>

          </div>





        </div>




      </div>




    </div>

  </div>
</div>



