<div class="page-container"><!-- add class "sidebar-collapsed" to close sidebar by default, "chat-visible" to make chat appear always -->

  <%= render 'layouts/sidebar' %>



  <div class="main-content">
    <%= render 'layouts/dealer_admin_nav' %>

    <h2>Account Settings</h2>
    <div class="panel-body">
    <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put, :class => "form-horizontal form-groups-bordered" }) do |f| %>
      <%= devise_error_messages! %>

      <div class="form-group">
        <label class="col-sm-3 control-label">E-Mail</label>
        <div class="col-sm-5">
          <%= f.email_field :email, :autofocus => true, class: "form-control" %>
        </div>
      </div>

      <br/><h4>Change Password</h4>

      <div class="form-group">
        <label class="col-sm-3 control-label">New Password</label>
        <div class="col-sm-5">
          <%= f.password_field :password, :autocomplete => "off", class: "form-control" %>
        </div>
      </div>

      <div class="form-group">
        <label class="col-sm-3 control-label">Confirm New Password</label>
        <div class="col-sm-5">
          <%= f.password_field :password_confirmation, class: "form-control" %>
        </div>
      </div>

      <br/><h4>Enter Current Password to Confirm</h4>
      <div class="form-group">
        <label class="col-sm-3 control-label">Current Password</label>
        <div class="col-sm-5">
          <%= f.password_field :current_password, class: "form-control" %>
        </div>
      </div>

      <div class="form-group">
        <label class="col-sm-3 control-label"></label>
        <div class="col-sm-5">
              <%= f.submit "Update", :class => 'btn btn-success'  %>

        </div>
      </div>
    <% end %>
    </div>

    <h3>Contact Us</h3>

    <p>Have questions? Reach us at support@indexdms.com </p>




  </div>
</div>



