<%= render 'layouts/navbar' %>
<div class="container">

<% if @errors %>
  <% @errors.each do |error| %>
  <p><%=error%></p>
  <% end %>
<% end %>

<%= form_tag(controller: "dealerships", action: "create", method: "put") do %>
  <div class="form-group">
    <%= label_tag("Dealership Name") %><br/>
    <%= text_field_tag(:dealership_name) %>
  </div>
  <div class="form-group">
    <%= label_tag("Dealership Address") %><br/>
    <%= text_field_tag(:dealership_address) %>
  </div>
  <div class="form-group">
    <%= label_tag("User E-Mail") %><br/>
    <%= text_field_tag(:email) %>
  </div>
  <div class="form-group">
    <%= label_tag("User Password") %><br/>
    <%= text_field_tag(:password) %>
  </div>
  <%= submit_tag("Submit") %>
<% end %>


</div>