<div class="page-container"><!-- add class "sidebar-collapsed" to close sidebar by default, "chat-visible" to make chat appear always -->

  <%= render 'layouts/sidebar' %>



  <div class="main-content">
    <%= render 'layouts/dealer_admin_nav' %>

    <% if @is_admin == true %>
    <div class="row">
      <div class="col-sm-3">

        <a href="/dealerships/<%=@dealership.id%>/vehicles"><div class="tile-stats tile-red">
          <div class="icon"><i class="entypo-shareable"></i></div>
          <div class="num" data-start="0" data-end="83" data-postfix="" data-duration="1500" data-delay="0"><h2 style="color: white;"><%= @frontline_cars.length %></h2></div>

          <h3><%= @frontline_cars.length == 1 ? "Car on the lot" : "Cars on the lot" %></h3>
          <p><%= @repair_cars.length %> <%= @repair_cars.length == 1 ? "car needs" : "cars need" %> repairs</p>
        </div>

      </div></a>

      <div class="col-sm-3">

      <a href="/dealerships/<%=@dealership.id%>/customers"><div class="tile-stats tile-green">
          <div class="icon"><i class="entypo-users"></i></div>
          <div class="num" data-start="0" data-end="135" data-postfix="" data-duration="1500" data-delay="600"><h2 style="color: white;"><%= @potential_customers.length %></h2></div>

          <h3> <%= @potential_customers.length == 1 ? "Customer" : "Customers" %></h3>
          <p><%= @potential_customers.length == 1 ? "has" : "have" %> expressed interest.</p>
        </div></a>

      </div>

      <div class="col-sm-3">

        <a href="/dealerships/<%=@dealership.id%>/deals"><div class="tile-stats tile-aqua">
          <div class="icon"><i class="entypo-briefcase"></i></div>
          <div class="num" data-start="0" data-end="23" data-postfix="" data-duration="1500" data-delay="1200"><h2 style="color: white;"><%=  @deals.where('date > ?', 30.days.ago).length %></h2></div>

          <h3><%= @deals.length == 1 ? "Deal" : "Deals" %></h3>
          <p>in the past 30 days.</p>
        </div></a>

      </div>

      <div class="col-sm-3">

        <a href="/dealerships/<%=@dealership.id%>/expenses"><div class="tile-stats tile-blue">
          <div class="icon"><i class="entypo-tag"></i></div>
          <div class="num" data-start="0" data-end="52" data-postfix="" data-duration="1500" data-delay="1800"><h2 style="color: white;"> <%="$#{number_with_precision(@profit, :delimiter => ',', precision: 0)}"%></h2></div>

          <h3>Profit</h3>
          <p>in the last 30 days.</p>
        </div></a>

      </div>
    </div>
    <% end %>

    <br />

    <div class="row">
      <div class="col-sm-8">

        <div class="panel panel-dark" id="charts_env">

          <div class="panel-heading">
            <div class="panel-title"><%= link_to "Latest Vehicles", dealership_cars_path(@dealership) %>
</div>

            <div class="panel-options">
              <ul class="nav nav-tabs">
                <li class="active"><a href="#area-chart" data-toggle="tab">Frontline</a></li>
                <li class=""><a href="#line-chart" data-toggle="tab">Need Repairs</a></li>
                <li class=""><a href="#pie-chart" data-toggle="tab">Sold</a></li>
              </ul>
            </div>
          </div>

          <div class="panel-body">

            <div class="tab-content">

              <div class="tab-pane active" id="area-chart">
                <div class="gallery-env">


                  <div class="row">

                    <% @frontline_cars.each do |car| %>
                    <div class="col-sm-3 col-xs-4">
                      <article class="image-thumb">
                        <a href="/dealerships/<%= @dealership.id%>/vehicles/<%=car.id%>" class="image">
                          <img src="<%= car.image %>" class="dash-car" /> <%= car.make_model_year %>
                        </a>
                      </article>
                    </div>
                    <% end %>
                    <div class="col-sm-8 col-xs-4" data-tag="1w">
                    <%= "There are no frontline cars" if @frontline_cars.length == 0 %>
                    </div>

                  </div>
                </div>
              </div>

              <div class="tab-pane" id="line-chart">
                <div class="gallery-env">


                  <div class="row">

                    <% @repair_cars.each do |car| %>
                    <div class="col-sm-3 col-xs-4" data-tag="1w">
                      <article class="image-thumb">
                        <a href="/dealerships/<%= @dealership.id%>/vehicles/<%=car.id%>" class="image" data-toggle="tooltip" data-placement="top" data-original-title="Tooltip on top" >
                          <img src="<%= car.image %>" class="dash-car" /> <%= car.make_model_year %>
                        </a>
                      </article>
                    </div>
                    <% end %>
                    <div class="col-sm-8 col-xs-4" data-tag="1w">
                    <%= "There are no cars which need repairs" if @repair_cars.length == 0 %>
                    </div>
                  </div>
                </div>
              </div>

              <div class="tab-pane" id="pie-chart">
                <div class="gallery-env">


                  <div class="row">

                    <% @sold_cars.each do |car| %>
                    <div class="col-sm-3 col-xs-4" >
                      <article class="image-thumb">
                        <a href="/dealerships/<%= @dealership.id%>/vehicles/<%=car.id%>" class="image"  >
                          <img src="<%= car.image %>" class="dash-car" /> <%= car.make_model_year %>
                        </a>
                      </article>
                    </div>
                    <% end %>
                    <div class="col-sm-8 col-xs-4" data-tag="1w">
                    <%= "There are no sold cars" if @sold_cars.length == 0 %>
                    </div>

                  </div>
                </div>
              </div>

            </div>

          </div>



        </div>

      </div>
      <% if @is_admin == true %>
      <div class="col-sm-4">

        <div class="panel panel-dark">
          <div class="panel-heading">
            <div class="panel-title">
              <div class="panel-title">
                <%= link_to "Financials", dealership_expenses_path(@dealership) %>
                <small>(Last 30 Days)</small>
              </div>
            </div>
          </div>

          <div class="panel-body">
            <table class="table">
              <thead>
                <tr>
                  <th width="40%"></th>
                  <th width="50%"></th>
                  <th class="text-right">Totals</th>
                </tr>
              </thead>

              <tbody>
                <tr>
                  <td>Revenue</td>
                  <td></td>
                  <td class="text-right"><%= "$#{number_with_precision(@revenue_total, :delimiter => ',', precision: 2)}" %></td>
                </tr>

                <tr>
                  <td>Expenses</td>
                  <td></td>
                  <td class="text-right"><%= "$#{number_with_precision(@expense_total, :delimiter => ',', precision: 2)}" %></td>
                </tr>

                <tr>
                  <td><b>Net Profit</b></td>
                  <td></td>
                  <td class="text-right"><b><%= "$#{number_with_precision(@profit, :delimiter => ',', precision: 2)}" %><b></td>
                </tr>
              </tbody>
            </table>


          </div>
        </div>

      </div>
      <% end %>
    </div>


    <br />


    <div class="row">



      <div class="col-sm-12">

        <div class="panel panel-dark">
          <div class="panel-heading">
            <div class="panel-title"><a href="/dealerships/<%=@dealership.id%>/conversations">Recent Conversations with Customers</a></div>



          </div>
          <%= "<br/>&nbsp;&nbsp;No conversations have been added".html_safe if @conversations.length == 0 %>


         <ul class="cbp_tmtimeline">

           <% @conversations.each do |conversation| %>
           <% employee = Employee.find(conversation.employee_id) if conversation.employee_id %>
           <% customer = Customer.find(conversation.customer_id) if conversation.customer_id %>
           <li>
             <time class="cbp_tmtime" datetime="2014-04-12T03:45"><span><%= conversation.date.strftime("%m/%d/%Y") %></span> <span></span></time>


             <% if conversation.medium == "Phone" %>
             <div class="cbp_tmicon bg-success"><i class="entypo-phone"></i></div>
             <% elsif conversation.medium == "In Person" %>
             <div class="cbp_tmicon bg-info"> <i class="entypo-users"></i></div>
             <% elsif conversation.medium == "E-Mail" %>
             <div class="cbp_tmicon bg-warning"> <i class="entypo-mail"></i></div>
             <% elsif conversation.medium == "Online Chat" %>
             <div class="cbp_tmicon bg-danger"> <i class="entypo-chat"></i></div>
             <% elsif conversation.medium == "Video Conference" %>
             <div class="cbp_tmicon bg-success"> <i class="entypo-video"></i></div>
             <% else %>
             <div class="cbp_tmicon bg-info"> <i class="entypo-quote"></i></div>
             <%end%>


             <div class="cbp_tmlabel">
               <h2><%= employee ? employee.name : "Someone" %>  <span>spoke with <%=customer.name%></span></h2>
               <p><%= conversation.description %></p>
               <p><%= link_to "Edit", edit_dealership_customer_conversation_path(@dealership, customer, conversation) %> <% if @is_admin == true %>| <%= link_to "Delete", dealership_customer_conversation_path(@dealership, customer, conversation), method: "delete", confirm: "Are you sure?" %><% end %> </p>
             </div>

           </li>
           <% end %>
         </ul>
        </div>

      </div>

    </div>

    <br />


  </div>


