<div class="container">
<%= form_for [@dealership, @customer, @conversation] do |f| %>
<%= render 'layouts/error_messages', object: f.object %>
<div class="form-group">
  <%= f.label :date %><br/>
  <%= f.date_field :date %>
</div>
<div class="form-group">
  <%= f.label :description %><br/>
  <% if @fields %>
    <%= f.text_area :description, value: @fields["description"] %>
  <% else %>
    <%= f.text_area :description %>
  <% end %>
</div>
<div class="form-group">
  <%= f.label :medium%><br/>
  <%= f.select :medium, ['In Person', 'Phone', 'E-Mail', 'Online Chat', 'Video Conference', 'Other']%>
</div>
<div class="form-group">
  <%= f.label :employee_id %><br/>
  <%= f.collection_select :employee_id, @employees.all, :id, :name, prompt: true, :selected => params[:employee_id] %>
</div>

<%= f.submit "Edit Conversation Details", :class => 'btn btn-success'  %>
<% end %>
</div>