<div class="page-container"><!-- add class "sidebar-collapsed" to close sidebar by default, "chat-visible" to make chat appear always -->

  <%= render 'layouts/sidebar' %>



  <div class="main-content">
    <%= render 'layouts/dealer_admin_nav' %>




    <div class="row">



      <div class="col-sm-12">

        <div class="panel panel-primary">
          <div class="panel-heading">
            <div class="panel-title">Recent Conversations with Customers</div>


          </div>

         <ul class="cbp_tmtimeline">

           <% @conversations.each do |conversation| %>
           <% employee = Employee.find(conversation.employee_id) if conversation.employee_id %>
           <% customer = Customer.find(conversation.customer_id) if conversation.customer_id %>
           <li>
             <time class="cbp_tmtime" datetime="2014-04-12T03:45"><span><%= conversation.date %></span> <span></span></time>


             <% if conversation.medium == "Phone" %>
             <div class="cbp_tmicon bg-success"><i class="entypo-phone"></i></div>
             <% elsif conversation.medium == "In Person" %>
             <div class="cbp_tmicon bg-info"> <i class="entypo-users"></i></div>
             <% elsif conversation.medium == "E-Mail" %>
             <div class="cbp_tmicon bg-warning"> <i class="entypo-mail"></i></div>
             <% elsif conversation.medium == "Online Chat" %>
             <div class="cbp_tmicon bg-danger"> <i class="entypo-chat"></i></div>
             <% elsif conversation.medium == "Video Conference" %>
             <div class="cbp_tmicon bg-success"> <i class="entypo-video"></i></div>
             <% else %>
             <div class="cbp_tmicon bg-info"> <i class="entypo-quote"></i></div>
             <%end%>


             <div class="cbp_tmlabel">
               <h2><%= employee ? employee.name : "Someone" %>  <span>spoke with <%=customer.name%></span></h2>
               <p><%= conversation.description %></p>
               <p><%= link_to "Edit", edit_dealership_customer_conversation_path(@dealership, customer, conversation) %> | <%= link_to "Delete", dealership_customer_conversation_path(@dealership, customer, conversation), method: "delete", confirm: "Are you sure?" %> </p>
             </div>

           </li>
           <% end %>






         </ul>
         <%= "No conversations have been added" if @conversations.length == 0 %>
        </div>

      </div>

    </div>

    <br />



  <!-- Footer -->
  </div>


