<div class="page-container"><!-- add class "sidebar-collapsed" to close sidebar by default, "chat-visible" to make chat appear always -->

  <%= render 'layouts/sidebar' %>



  <div class="main-content">
    <%= render 'layouts/dealer_admin_nav' %>

    <h2>Edit Pending Deal </h2>

    <br/>
    <h3>Customer Facing Data</h3>
    <br/>
    <%= form_for [@dealership, @temp], :html => {:class => "form-horizontal form-groups-bordered"} do |f| %>
    <%= render 'layouts/error_messages', object: f.object %>

    <%= f.collection_select :car_id, @cars.all, :id, :make_model_year, prompt: true, class: "form-control" %><br/><br/>

    <div class="row">
      <div class="col-sm-4">
          <div class="input-group">
            <span class="input-group-addon">$</span>
            <%= f.text_field :amount, class: "form-control", placeholder: "Sales Price" %>
          </div>

      </div>
      <div class="col-sm-4">
          <div class="input-group">
            <%= f.text_field :sales_tax_percent, class: "form-control", placeholder: "Sales Tax Percent" %>
            <span class="input-group-addon">%</span>
          </div>
      </div>
      <div class="col-sm-4">
          <div class="input-group">
            <span class="input-group-addon">$</span>
            <%= f.text_field :down_payment, class: "form-control", placeholder: "Down Payment" %>
          </div>
      </div>
    </div>
    <br/>
    <div class="row">
      <div class="col-sm-4">
          <div class="input-group">
            <%= f.text_field :term, class: "form-control", placeholder: "Term" %>
            <span class="input-group-addon">months</span>
          </div>
      </div>
      <div class="col-sm-4">
          <div class="input-group">
            <%= f.text_field :apr, class: "form-control", placeholder: "APR" %>
            <span class="input-group-addon">%</span>
          </div>
      </div>
      <div class="col-sm-4">
          <div class="input-group">
            <span class="input-group-addon">$</span>
            <%= f.text_field :trade_in_value, class: "form-control", placeholder: "Trade in Value" %>
          </div>
      </div>
    </div>
    <br/>
    <div class="row">
      <div class="col-sm-4">
          <div class="input-group">
            <span class="input-group-addon">$</span>
            <%= f.text_field :less_payoff, class: "form-control", placeholder: "Less Payoff" %>
          </div>
      </div>
      <div class="col-sm-4">
          <div class="input-group">
            <span class="input-group-addon">$</span>
            <%= f.text_field :smog_fee, class: "form-control", placeholder: "Smog Fee" %>
          </div>
      </div>
      <div class="col-sm-4">
          <div class="input-group">
            <span class="input-group-addon">$</span>
            <%= f.text_field :doc_fee, class: "form-control", placeholder: "Document Fee" %>
          </div>
      </div>
    </div>
    <br/>
    <div class="row">
      <div class="col-sm-4">
          <div class="input-group">
            <span class="input-group-addon">$</span>
            <%= f.text_field :reg_fee, class: "form-control", placeholder: "Registration Fees" %>
          </div>
          <br/>
            <div class="input-group">
              <span class="input-group-addon">$</span>
              <%= f.text_field :warranty_price, class: "form-control", placeholder: "Warranty Price" %>
            </div>
      </div>
      <div class="col-sm-4">
          <div class="input-group">
            <span class="input-group-addon">$</span>
            <%= f.text_field :other_fee, class: "form-control", placeholder: "Other Fees" %>
          </div>
          <br/>
            <div class="input-group">
              <span class="input-group-addon">$</span>
              <%= f.text_field :accessory_price, class: "form-control", placeholder: "Accessories Price" %>
            </div>
      </div>
      <div class="col-sm-4">
          <div class="input-group">
            <span class="input-group-addon">$</span>
            <%= f.text_field :gap_price, class: "form-control", placeholder: "Gap Price" %>
          </div>
      </div>
    </div>


    <br/>
    <h3>Internal Data</h3>
    <br/>

    <div class="row">
      <div class="col-sm-4">
          <div class="input-group">
            <span class="input-group-addon">$</span>
            <%= f.text_field :gap_cost, class: "form-control", placeholder: "GAP Cost" %>
          </div>
      </div>
      <div class="col-sm-4">
          <div class="input-group">
            <span class="input-group-addon">$</span>
            <%= f.text_field :warranty_cost, class: "form-control", placeholder: "Warranty Cost" %>
          </div>
      </div>
      <div class="col-sm-4">
          <div class="input-group">
            <span class="input-group-addon">$</span>
            <%= f.text_field :accessory_cost, class: "form-control", placeholder: "Accessory Cost" %>
          </div>
      </div>
    </div>
    <br/>

   
  

    <div class="row">
      <div class="col-sm-4">
          <div class="input-group">
            <span class="input-group-addon">$</span>
            <%= f.text_field :discount_fee, class: "form-control", placeholder: "Discount Fee" %>
          </div>
      </div>
      <div class="col-sm-4">
          <div class="input-group">
            <span class="input-group-addon">$</span>
            <%= f.text_field :estimated_commission, class: "form-control", placeholder: "Estimated Commission" %>
          </div>
      </div>
    </div>
    <br/>

    <div class="form-group">
      <div class="col-sm-5">
        <%= f.submit "Update Pending Deal", :class => 'btn btn-success'  %>

      </div>
    </div>
    <% end %>




  </div>
</div>




