
<div class="page-container"><!-- add class "sidebar-collapsed" to close sidebar by default, "chat-visible" to make chat appear always -->

  <%= render 'layouts/sidebar' %>



  <div class="main-content">
    <%= render 'layouts/dealer_admin_nav' %>

    <div class="profile-env">


      <section class="profile-info-tabs">

        <div class="row">
          <div class="col-sm-offset-2 col-sm-10">
  




            <!-- tabs for the profile links -->
            <ul class="nav nav-tabs">
              <li class="active"><a href="#home" data-toggle="tab">Calculations</a></li>
              <li><a href="#vehicle_details" data-toggle="tab">Vehicle Details</a></li>
              <li><a href="/dealerships/<%=@dealership.id%>/menus" target="_blank">Menu Selling</a></li>
            </ul>





          </div>


        </div>

      </section>
      <div class="tab-content">
        <div class="tab-pane active" id="home">

          <div class="row">
            <div class="col-sm-4">

              <div class="tile-stats tile-aqua">
                <div class="icon"><i class="entypo-calendar"></i></div>
                <div class="num" data-start="0" data-end="23" data-postfix="" data-duration="1500" data-delay="1200"><h2 style="color: white;"><%=  "$#{number_with_precision(@monthly_payment, :delimiter => ',', precision: 2)}" %></h2></div>

                <h3><%= "Monthly Payment" %></h3>
              </div>

            </div>

            <div class="col-sm-4">

              <div class="tile-stats tile-red">
                <div class="icon"><i class="entypo-clipboard"></i></div>
                <div class="num" data-start="0" data-end="23" data-postfix="" data-duration="1500" data-delay="1200"><h2 style="color: white;"><%=  "$#{number_with_precision(@final_amount, :delimiter => ',', precision: 2)}" %></h2></div>

                <h3><%= "Total Cost" %></h3>
              </div>

            </div>

            <div class="col-sm-4">

              <div class="tile-stats tile-green">
                <div class="icon"><i class="entypo-flash"></i></div>
                <% if @car %>
                <% wholesale_percent = (@temp.amount / @car.wholesale_price) * 100 if @car.wholesale_price %>
                <% retail_percent = (@temp.amount / @car.retail_price) * 100 if @car.retail_price %>

                  <div class="num" data-start="0" data-end="23" data-postfix="" data-duration="1500" data-delay="1200">
                   <h2 style="color: white;">
                    <%=  wholesale_percent ? "#{number_with_precision(wholesale_percent, :delimiter => ',', precision: 1)}%" : "N/A" %> 
                    / 
                    <%=  retail_percent ? "#{number_with_precision(retail_percent, :delimiter => ',', precision: 1)}%" : "N/A" %>  
                  </h2>
                  </div>
                <h3><%= "Wholesale / Retail" %></h3>
                <% else %>
                  <div class="num" data-start="0" data-end="23" data-postfix="" data-duration="1500" data-delay="1200"><h2 style="color: white;">N/A</h2></div>
                  <h3><%= "Add Vehicle for KBB Comparisons" %></h3>
                <% end %>
              </div>

            </div>


          </div>


          <%= form_for [@dealership, @temp], :html => {:class => "form-horizontal form-groups-bordered"} do |f| %>
          <br/>
          <%= render 'layouts/error_messages', object: f.object %>

          <%= f.collection_select :car_id, @cars.all, :id, :make_model_year, prompt: true, class: "form-control", onchange: "this.form.submit()" %><br/><br/>

          <div class="row">
            <div class="col-sm-4">

                <div class="input-group">
                  <span class="input-group-addon">$</span>
                  <%= f.text_field :amount, class: "form-control", onchange: "this.form.submit()", placeholder: "Sales Price" %>
                </div>

            </div>

            <div class="col-sm-4">
                <div class="input-group">
                  <%= f.text_field :sales_tax_percent, class: "form-control", onchange: "this.form.submit()", placeholder: "Sales Tax Percent" %>
                  <span class="input-group-addon">%</span>
                </div>

            </div>

            <div class="col-sm-4">
                <div class="input-group">
                  <span class="input-group-addon">$</span>
                  <%= f.text_field :down_payment, class: "form-control", onchange: "this.form.submit()", placeholder: "Down Payment" %>
                </div>

            </div>


          </div>

          <br/>
          <div class="row">
            <div class="col-sm-4">
                <div class="input-group">
                  <%= f.text_field :term, class: "form-control", onchange: "this.form.submit()", placeholder: "Term" %>
                  <span class="input-group-addon">months</span>

                </div>

            </div>

            <div class="col-sm-4">
                <div class="input-group">
                  <%= f.text_field :apr, class: "form-control", onchange: "this.form.submit()", placeholder: "APR" %>
                  <span class="input-group-addon">%</span>
                </div>

            </div>

            <div class="col-sm-4">
                <div class="input-group">
                  <span class="input-group-addon">$</span>
                  <%= f.text_field :trade_in_value, class: "form-control", onchange: "this.form.submit()", placeholder: "Trade in Value" %>
                </div>

            </div>


          </div>
          <br/>
          <div class="row">

            <div class="col-sm-4">
                <div class="input-group">
                  <span class="input-group-addon">$</span>
                  <%= f.text_field :less_payoff, class: "form-control", onchange: "this.form.submit()", placeholder: "Less Payoff" %>
                </div>

            </div>

            <div class="col-sm-4">
                <div class="input-group">
                  <span class="input-group-addon">$</span>
                  <%= f.text_field :smog_fee, class: "form-control", onchange: "this.form.submit()", placeholder: "Smog Fee" %>
                </div>

            </div>

            <div class="col-sm-4">
                <div class="input-group">
                  <span class="input-group-addon">$</span>
                  <%= f.text_field :doc_fee, class: "form-control", onchange: "this.form.submit()", placeholder: "Document Fee" %>
                </div>

            </div>




          </div>
          <br/>
          <div class="row">

            <div class="col-sm-4">

     
                <div class="input-group">
                  <span class="input-group-addon">$</span>
                  <%= f.text_field :reg_fee, class: "form-control", onchange: "this.form.submit()", placeholder: "Registration Fees" %>
                </div>
                <br/>

                  <div class="input-group">
                    <span class="input-group-addon">$</span>
                    <%= f.text_field :warranty_price, class: "form-control", onchange: "this.form.submit()", placeholder: "Warranty Price" %>
                  </div>

            </div>

            <div class="col-sm-4">
                <div class="input-group">
                  <span class="input-group-addon">$</span>
                  <%= f.text_field :other_fee, class: "form-control", onchange: "this.form.submit()", placeholder: "Other Fees" %>
                </div>
                <br/>

                  <div class="input-group">
                    <span class="input-group-addon">$</span>
                    <%= f.text_field :accessory_price, class: "form-control", onchange: "this.form.submit()", placeholder: "Accessories Price" %>
                  </div>



            </div>

            <div class="col-sm-4">
                <div class="input-group">
                  <span class="input-group-addon">$</span>
                  <%= f.text_field :gap_price, class: "form-control", onchange: "this.form.submit()", placeholder: "Gap Price" %>

                </div>

            </div>


          </div>

          <br/><br/>

          <%= f.submit "Update Values", :class => 'btn btn-success'  %> &nbsp; &nbsp;
          <%= link_to "<i class='entypo-cross'></i> Finalize Deal".html_safe, new_dealership_deal_path(@dealership, car_id: @temp.car_id, customer_id: @temp.customer_id, employee_id: @temp.employee_id, amount: @temp.amount, sales_tax_percent: @temp.sales_tax_percent, down_payment: @temp.down_payment, term: @temp.term, apr: @temp.apr, trade_in_value: @temp.trade_in_value, less_payoff: @temp.less_payoff, warranty_price: @temp.warranty_price, gap_price: @temp.gap_price, doc_fee: @temp.doc_fee, reg_fee: @temp.reg_fee, smog_fee: @temp.smog_fee, other_fee: @temp.other_fee), class: "btn btn-info", role: "button" %>







          <% end %>

          <br/>



        </div>

        <div class="tab-pane" id="vehicle_details">


          <% if @car %>

          <%= link_to "<i class='entypo-cross'></i> Edit Internal Data".html_safe, edit_dealership_temp_path(@dealership, @temp), class: "btn btn-warning", role: "button" %>


          <!-- Nav tabs -->
          <ul class="nav nav-tabs">
            <li class="active"><a href="#total" data-toggle="tab">Total Profit</a></li>
            <li><a href="#frontend" data-toggle="tab">Frontend Profit</a></li>
            <li><a href="#backend" data-toggle="tab">Backend Profit</a></li>
          </ul>

          <!-- Tab panes -->
          <div class="tab-content">
            <div class="tab-pane active" id="total">
                <section class="profile-feed">
                  <div class="profile-stories">
                    <div class="invoice">
                      <table class="table">
                        <thead>
                          <tr>
                            <th width="30%"><b>Revenues</b></th>
                            <th width="50%"></th>
                            <th class="text-right"><b>Total</b></th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td>Sales Price </td>
                            <td></td>
                            <td class="text-right"><%= @temp.amount ? "$#{number_with_precision(@temp.amount, :delimiter => ',', precision: 2)}" : "$0.00" %></td>

                          </tr>
                          <tr>
                            <td>Smog Fee </td>
                            <td></td>
                            <td class="text-right"><%= @temp.smog_fee ? "$#{number_with_precision(@temp.smog_fee, :delimiter => ',', precision: 2)}" : "$0.00" %></td>
                          </tr>
                          <tr>
                            <td>Doc Fee </td>
                            <td></td>
                            <td class="text-right"><%= @temp.doc_fee ? "$#{number_with_precision(@temp.doc_fee, :delimiter => ',', precision: 2)}" : "$0.00" %></td>
                          </tr>
                          <tr>
                            <td>Registration Fee </td>
                            <td></td>
                            <td class="text-right"><%= @temp.reg_fee ? "$#{number_with_precision(@temp.reg_fee, :delimiter => ',', precision: 2)}" : "$0.00" %></td>
                          </tr>
                          <tr>
                            <td>Other Fees </td>
                            <td></td>
                            <td class="text-right"><%= @temp.other_fee ? "$#{number_with_precision(@temp.other_fee, :delimiter => ',', precision: 2)}" : "$0.00" %></td>
                          </tr>
                          <tr>
                            <td>Less Payoff </td>
                            <td></td>
                            <td class="text-right"><%= @temp.less_payoff ? "$#{number_with_precision(@temp.less_payoff, :delimiter => ',', precision: 2)}" : "$0.00" %></td>
                          </tr>
                          <tr>
                            <td>GAP Price </td>
                            <td></td>
                            <td class="text-right"><%= @temp.gap_price ? "$#{number_with_precision(@temp.gap_price, :delimiter => ',', precision: 2)}" : "$0.00" %></td>
                          </tr>
                          <tr>
                            <td>Warranty Price </td>
                            <td></td>
                            <td class="text-right"><%= @temp.warranty_price ? "$#{number_with_precision(@temp.warranty_price, :delimiter => ',', precision: 2)}" : "$0.00" %></td>
                          </tr>
                          <tr>
                            <td>Accessories Price </td>
                            <td></td>
                            <td class="text-right"><%= @temp.accessory_price ? "$#{number_with_precision(@temp.accessory_price, :delimiter => ',', precision: 2)}" : "$0.00" %></td>
                          </tr>

                          <tr>
                            <td><b>Total</b></td>
                            <td></td>
                            <td class="text-right"><b><%= "$#{number_with_precision(@total_received, :delimiter => ',', precision: 2)}" %></b></td>
                          </tr>
                        </tbody>
                      </table>
                      <table class="table">
                        <thead>
                          <tr>
                            <th width="30%"><b>Expenses</b> (<%= link_to "Update Vehicle Details", dealership_car_path(@dealership, @car), :target => "_blank" %>)</th>
                            <th width="50%"></th>
                            <th class="text-right"><b>Total</b></th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td class="normal-table-vehicle">Acquire Price </td>
                            <td class="normal-table-vehicle"></td>
                            <td class="text-right"><%= @car.acquire_price ? "$#{number_with_precision(@car.acquire_price, :delimiter => ',', precision: 2)}" : "$0.00" %></td>

                          </tr>
                          <tr>
                            <td class="normal-table-vehicle">Vehicle Expenses</td>
                            <td class="normal-table-vehicle"></td>
                            <td class="text-right normal-table-vehicle"><%= "$#{number_with_precision(@car_repair_expenses, :delimiter => ',', precision: 2)}" %></td>
                          </tr>
                          <tr>
                              <td class="normal-table-vehicle">Estimated Commission </td>
                              <td class="normal-table-vehicle"></td>
                              <td class="text-right"><%= @temp.estimated_commission ? "$#{number_with_precision(@temp.estimated_commission, :delimiter => ',', precision: 2)}" : "$0.00" %></td>
                          </tr>
                          <tr>
                            <td class="normal-table-vehicle">Advertising Cost </td>
                            <td class="normal-table-vehicle"></td>
                            <td class="text-right normal-table-vehicle"><%= @car.advertising_cost ? "$#{number_with_precision(@car.advertising_cost, :delimiter => ',', precision: 2)}" : "$0.00" %></td>
                          </tr>
                          <tr>
                            <td class="normal-table-vehicle">Other Costs </td>
                            <td class="normal-table-vehicle"></td>
                            <td class="text-right normal-table-vehicle"><%= @car.other_costs ? "$#{number_with_precision(@car.other_costs, :delimiter => ',', precision: 2)}" : "$0.00" %></td>
                          </tr>
                          <tr>
                            <td class="normal-table-vehicle">Pack </td>
                            <td class="normal-table-vehicle"></td>
                            <td class="text-right normal-table-vehicle"><%= @car.frontend_pac ? "$#{number_with_precision(@car.frontend_pac, :delimiter => ',', precision: 2)}" : "$0.00" %></td>
                          </tr>
                          <tr>
                            <td class="normal-table-vehicle">Trade-In Value </td>
                            <td class="normal-table-vehicle"></td>
                            <td class="text-right normal-table-vehicle"><%= @temp.trade_in_value ? "$#{number_with_precision(@temp.trade_in_value, :delimiter => ',', precision: 2)}" : "$0.00" %></td>
                          </tr>
                          <tr>
                            <td class="normal-table-vehicle">Discount Fee </td>
                            <td class="normal-table-vehicle"></td>
                            <td class="text-right normal-table-vehicle"><%= @temp.discount_fee ? "$#{number_with_precision(@temp.discount_fee, :delimiter => ',', precision: 2)}" : "$0.00" %></td>
                          </tr>
                          <tr>
                            <td>GAP Cost </td>
                            <td></td>
                            <td class="text-right"><%= @temp.gap_cost ? "$#{number_with_precision(@temp.gap_cost, :delimiter => ',', precision: 2)}" : "$0.00" %></td>
                          </tr>
                          <tr>
                            <td>Warranty Cost </td>
                            <td></td>
                            <td class="text-right"><%= @temp.warranty_cost ? "$#{number_with_precision(@temp.warranty_cost, :delimiter => ',', precision: 2)}" : "$0.00" %></td>

                          </tr>
                          <tr>
                            <td>Accessories Cost </td>
                            <td></td>
                            <td class="text-right"><%= @temp.accessory_cost ? "$#{number_with_precision(@temp.accessory_cost, :delimiter => ',', precision: 2)}" : "$0.00" %></td>

                          </tr>
                          <tr>
                            <td><b>Total</b></td>
                            <td></td>
                            <td class="text-right"><b><%= "$#{number_with_precision(@total_cost, :delimiter => ',', precision: 2)}" %></b></td>
                          </tr>
                        </tbody>
                      </table>
                      <table class="table">
                        <thead>
                          <tr>
                            <th width="30%"><b>Net Profit</b></th>
                            <th width="50%"><b></b></th>
                            <th class="text-right"><b>Total</b></th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td><b>Net Profit</b></td>
                            <td></td>
                            <td class="text-right"><b><%= "$#{number_with_precision(@total_profit, :delimiter => ',', precision: 2)}" %></b></td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div><!-- Footer -->
              </section>
            </div>
            



            <div class="tab-pane" id="frontend">
                <section class="profile-feed">
                  <div class="profile-stories">
                    <div class="invoice">
                      <table class="table">
                        <thead>
                          <tr>
                            <th width="30%"><b>Revenues</b></th>
                            <th width="50%"></th>
                            <th class="text-right"><b>Total</b></th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td>Sales Price </td>
                            <td></td>
                           <td class="text-right"><%= @temp.amount ? "$#{number_with_precision(@temp.amount, :delimiter => ',', precision: 2)}" : "$0.00" %></td>

                          </tr>
                          <tr>
                            <td>Smog Fee </td>
                            <td></td>
                            <td class="text-right"><%= @temp.smog_fee ? "$#{number_with_precision(@temp.smog_fee, :delimiter => ',', precision: 2)}" : "$0.00" %></td>
                          </tr>
                          <tr>
                            <td>Doc Fee </td>
                            <td></td>
                            <td class="text-right"><%= @temp.doc_fee ? "$#{number_with_precision(@temp.doc_fee, :delimiter => ',', precision: 2)}" : "$0.00" %></td>
                          </tr>
                          <tr>
                            <td>Registration Fee </td>
                            <td></td>
                            <td class="text-right"><%= @temp.reg_fee ? "$#{number_with_precision(@temp.reg_fee, :delimiter => ',', precision: 2)}" : "$0.00" %></td>
                          </tr>
                          <tr>
                            <td>Other Fees </td>
                            <td></td>
                            <td class="text-right"><%= @temp.other_fee ? "$#{number_with_precision(@temp.other_fee, :delimiter => ',', precision: 2)}" : "$0.00" %></td>
                          </tr>
                          <tr>
                            <td>Less Payoff </td>
                            <td></td>
                            <td class="text-right"><%= @temp.less_payoff ? "$#{number_with_precision(@temp.less_payoff, :delimiter => ',', precision: 2)}" : "$0.00" %></td>
                          </tr>
                          <tr>
                            <td><b>Total</b></td>
                            <td></td>
                            <td class="text-right"><b><%= "$#{number_with_precision(@frontend_recieved, :delimiter => ',', precision: 2)}" %></b></td>
                          </tr>
                        </tbody>
                      </table>
                      <table class="table">
                        <thead>
                          <tr>
                            <th width="30%"><b>Expenses</b> (<%= link_to "Update Vehicle Details", dealership_car_path(@dealership, @car), :target => "_blank" %>)</th>
                            <th width="50%"></th>
                            <th class="text-right"><b>Total</b></th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td class="normal-table-vehicle">Acquire Price </td>
                            <td class="normal-table-vehicle"></td>
                            <td class="text-right"><%= @car.acquire_price ? "$#{number_with_precision(@car.acquire_price, :delimiter => ',', precision: 2)}" : "$0.00" %></td>
                          </tr>
                          <tr>
                            <td class="normal-table-vehicle">Vehicle Expenses</td>
                            <td class="normal-table-vehicle"></td>
                            <td class="text-right normal-table-vehicle"><%= "$#{number_with_precision(@car_repair_expenses, :delimiter => ',', precision: 2)}" %></td>
                          </tr>
                          <tr>
                              <td class="normal-table-vehicle">Estimated Commission </td>
                              <td class="normal-table-vehicle"></td>
                              <td class="text-right"><%= @temp.estimated_commission ? "$#{number_with_precision(@temp.estimated_commission, :delimiter => ',', precision: 2)}" : "$0.00" %></td>
                          </tr>
                          <tr>
                            <td class="normal-table-vehicle">Advertising Cost </td>
                            <td class="normal-table-vehicle"></td>
                            <td class="text-right normal-table-vehicle"><%= @car.advertising_cost ? "$#{number_with_precision(@car.advertising_cost, :delimiter => ',', precision: 2)}" : "$0.00" %></td>
                          </tr>
                          <tr>
                            <td class="normal-table-vehicle">Other Costs </td>
                            <td class="normal-table-vehicle"></td>
                            <td class="text-right normal-table-vehicle"><%= @car.other_costs ? "$#{number_with_precision(@car.other_costs, :delimiter => ',', precision: 2)}" : "$0.00" %></td>
                          </tr>
                          <tr>
                            <td class="normal-table-vehicle">Trade-In Value </td>
                            <td class="normal-table-vehicle"></td>
                            <td class="text-right normal-table-vehicle"><%= @temp.trade_in_value ? "$#{number_with_precision(@temp.trade_in_value, :delimiter => ',', precision: 2)}" : "$0.00" %></td>
                          </tr>
                          <tr>
                            <td class="normal-table-vehicle">Discount Fee </td>
                            <td class="normal-table-vehicle"></td>
                            <td class="text-right normal-table-vehicle"><%= @temp.discount_fee ? "$#{number_with_precision(@temp.discount_fee, :delimiter => ',', precision: 2)}" : "$0.00" %></td>
                          </tr>
                          <tr>
                            <td><b>Total</b></td>
                            <td></td>
                            <td class="text-right"><b><%= "$#{number_with_precision(@frontend_cost, :delimiter => ',', precision: 2)}" %></b></td>
                          </tr>
                        </tbody>
                      </table>
                      <table class="table">
                        <thead>
                          <tr>
                            <th width="30%"><b>Frontend Profit</b></th>
                            <th width="50%"><b></b></th>
                            <th class="text-right"><b>Total</b></th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td><b>Profit</b></td>
                            <td></td>
                            <td class="text-right"><b><%= "$#{number_with_precision(@frontend_profit, :delimiter => ',', precision: 2)}" %></b></td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div><!-- Footer -->
              </section>
            </div>
            



            <div class="tab-pane" id="backend">
                <section class="profile-feed">
                  <div class="profile-stories">
                    <div class="invoice">
                    
                      <table class="table">
                        <thead>
                          <tr>
                            <th><b>Item</b></th>
                            <th><b>Amount Recieved</b></th>
                            <th><b>Cost</b></th>
                            <th class="text-right"><b>Total</b></th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td>GAP </td>
                            <td ><%= @temp.gap_price ? "$#{number_with_precision(@temp.gap_price, :delimiter => ',', precision: 2)}" : "$0.00" %></td>
                            <td ><%= @temp.gap_cost ? "$#{number_with_precision(@temp.gap_cost, :delimiter => ',', precision: 2)}" : "$0.00" %></td>
                            <td class="text-right"><%= "$#{number_with_precision(@gap_profit, :delimiter => ',', precision: 2)}" %></td>
                          </tr>
                          <tr>
                            <td>Warranty </td>
                            <td ><%= @temp.warranty_price ? "$#{number_with_precision(@temp.warranty_price, :delimiter => ',', precision: 2)}" : "$0.00" %></td>
                            <td ><%= @temp.warranty_cost ? "$#{number_with_precision(@temp.warranty_cost, :delimiter => ',', precision: 2)}" : "$0.00" %></td>
                            <td class="text-right"><%= "$#{number_with_precision(@warranty_profit, :delimiter => ',', precision: 2)}" %></td>
                          </tr>
                          <tr>
                            <td>Accessories </td>
                            <td ><%= @temp.accessory_price ? "$#{number_with_precision(@temp.accessory_price, :delimiter => ',', precision: 2)}" : "$0.00" %></td>
                            <td ><%= @temp.accessory_cost ? "$#{number_with_precision(@temp.accessory_cost, :delimiter => ',', precision: 2)}" : "$0.00" %></td>
                            <td class="text-right"><%= "$#{number_with_precision(@accessory_profit, :delimiter => ',', precision: 2)}" %></td>
                          </tr>
                          
                          <tr>
                            <td><b>Total</b></td>
                            <td ><b><%= "$#{number_with_precision(@backend_recieved, :delimiter => ',', precision: 2)}" %></b></td>
                            <td><b><%= "$#{number_with_precision(@backend_cost, :delimiter => ',', precision: 2)}" %></b></td>
                            <td class="text-right"><b><%= "$#{number_with_precision(@backend_profit, :delimiter => ',', precision: 2)}" %></b></td>
                          </tr>
                        </tbody>
                      </table>
                      
                    </div>
                  </div><!-- Footer -->
              </section>

            </div>
          </div>


             








          <% end %>
          <% unless @car %>
            <p> This deal does not have a vehicle associated with it yet</p>
          <% end %>
        </div>








      </div>




    </div>









  </div>
</div>



