
<div class="page-container"><!-- add class "sidebar-collapsed" to close sidebar by default, "chat-visible" to make chat appear always -->

  <%= render 'layouts/sidebar' %>



  <div class="main-content">
    <%= render 'layouts/dealer_admin_nav' %>

    <div class="profile-env">

      <header class="row">

        <div class="col-sm-2">

          <a href="#" class="profile-picture">
            <img src="/deal.png" height ="115" width="115" style="border-radius: 50%;" />
          </a>

        </div>

        <div class="col-sm-7">

          <ul class="profile-info-sections">
            <li>
              <div class="profile-name">
                <strong>Create a Pending Deal</strong>
                <span>Creating a deal for <%= "$#{number_with_precision(@temp.amount, :delimiter => ',', precision: 2)}" %></span>
              </div>
            </li>


          </ul>

        </div>

        <div class="col-sm-3">

          <div class="profile-buttons">
            <%= link_to "<i class='entypo-cross'></i> Finalize Deal".html_safe, new_dealership_deal_path(@dealership, amount: @temp.amount, sales_tax_percent: @temp.sales_tax_percent, down_payment: @temp.down_payment, term: @temp.term, apr: @temp.apr, trade_in_value: @temp.trade_in_value, trade_in_paid: @temp.trade_in_paid, warranty_price: @temp.warranty_price, gap_price: @temp.gap_price, doc_fee: @temp.doc_fee, reg_fee: @temp.reg_fee, smog_fee: @temp.smog_fee), class: "btn btn-success", role: "button" %>



          </div>
        </div>

      </header>

      <section class="profile-info-tabs">

        <div class="row">
          <div class="col-sm-offset-2 col-sm-10">
            <div class="row">
              <div class="col-md-3">
                <div class="profile-stat">
                  <h4><%= "$#{number_with_precision(@temp.amount, :delimiter => ',', precision: 2)}" %></h4>
                  <span><a href="#">Purchase Price</a></span>
                </div>
              </div>
              <div class="col-md-3">
                <div class="profile-stat">
                  <h4><%= @temp.term ? "#{@temp.term} months" : "N/A" %></h4>
                  <span><a href="#">Term</a></span>
                </div>
              </div>
              <div class="col-md-3">
                <div class="profile-stat">
                  <h4><%= @temp.apr ? "#{@temp.apr}%" : "N/A"%></h4>
                  <span><a href="#">APR</a></span>
                </div>
              </div>


            </div>




            <!-- tabs for the profile links -->
            <ul class="nav nav-tabs">
              <li class="active"><a href="#home" data-toggle="tab">Calculations</a></li>
            </ul>





          </div>


        </div>

      </section>
      <div class="tab-content">
        <div class="tab-pane active" id="home">

          <div class="row">
            <div class="col-sm-4">

              <div class="tile-stats tile-aqua">
                <div class="icon"><i class="entypo-calendar"></i></div>
                <div class="num" data-start="0" data-end="23" data-postfix="" data-duration="1500" data-delay="1200"><h2 style="color: white;"><%=  "$#{number_with_precision(@monthly_payment, :delimiter => ',', precision: 2)}" %></h2></div>

                <h3><%= "Monthly Payment" %></h3>
              </div>

            </div>

            <div class="col-sm-4">

              <div class="tile-stats tile-red">
                <div class="icon"><i class="entypo-calendar"></i></div>
                <div class="num" data-start="0" data-end="23" data-postfix="" data-duration="1500" data-delay="1200"><h2 style="color: white;"><%=  "$#{number_with_precision(@amount_financed, :delimiter => ',', precision: 2)}" %></h2></div>

                <h3><%= "Amount Financed" %></h3>
              </div>

            </div>

            <div class="col-sm-4">

              <div class="tile-stats tile-green">
                <div class="icon"><i class="entypo-calendar"></i></div>
                <div class="num" data-start="0" data-end="23" data-postfix="" data-duration="1500" data-delay="1200"><h2 style="color: white;"><%=  "$#{number_with_precision(@interest_charge, :delimiter => ',', precision: 2)}" %></h2></div>

                <h3><%= "Interest Charged" %></h3>
              </div>

            </div>


          </div>








          <%= form_for [@dealership, @temp], :html => {:class => "form-horizontal form-groups-bordered"} do |f| %>
          <br/>
          <%= render 'layouts/error_messages', object: f.object %>

          <div class="row">
            <div class="col-sm-4">

              <label class="control-label">Sales Price</label><br/><br/>
                <div class="input-group">
                  <span class="input-group-addon">$</span>
                  <%= f.text_field :amount, class: "form-control" %>
                </div>

            </div>

            <div class="col-sm-4">

              <label class="control-label">Sales Tax Percent</label><br/><br/>
                <div class="input-group">
                  <%= f.text_field :sales_tax_percent, class: "form-control" %>
                  <span class="input-group-addon">%</span>
                </div>

            </div>

            <div class="col-sm-4">

              <label class="control-label">Down Payment</label><br/><br/>
                <div class="input-group">
                  <span class="input-group-addon">$</span>
                  <%= f.text_field :down_payment, class: "form-control" %>
                </div>

            </div>


          </div>

          <br/>
          <div class="row">
            <div class="col-sm-4">

              <label class="control-label">Term</label><br/><br/>
                <div class="input-group">
                  <%= f.text_field :term, class: "form-control" %>
                  <span class="input-group-addon">months</span>

                </div>

            </div>

            <div class="col-sm-4">

              <label class="control-label">APR</label><br/><br/>
                <div class="input-group">
                  <%= f.text_field :apr, class: "form-control" %>
                  <span class="input-group-addon">%</span>
                </div>

            </div>

            <div class="col-sm-4">

              <label class="control-label">Trade in Value</label><br/><br/>
                <div class="input-group">
                  <span class="input-group-addon">$</span>
                  <%= f.text_field :trade_in_value, class: "form-control" %>
                </div>

            </div>


          </div>
          <br/>
          <div class="row">

            <div class="col-sm-4">

              <label class="control-label">Less Payoff</label><br/><br/>
                <div class="input-group">
                  <span class="input-group-addon">$</span>
                  <%= f.text_field :trade_in_paid, class: "form-control" %>
                </div>

            </div>

            <div class="col-sm-4">

              <label class="control-label">Smog Fee</label><br/><br/>
                <div class="input-group">
                  <span class="input-group-addon">$</span>
                  <%= f.text_field :smog_fee, class: "form-control" %>
                </div>

            </div>

            <div class="col-sm-4">

              <label class="control-label">Document Fee</label><br/><br/>
                <div class="input-group">
                  <span class="input-group-addon">$</span>
                  <%= f.text_field :doc_fee, class: "form-control" %>
                </div>

            </div>




          </div>
          <br/>
          <div class="row">

            <div class="col-sm-4">

              <label class="control-label">Registration Fee</label><br/><br/>
                <div class="input-group">
                  <span class="input-group-addon">$</span>
                  <%= f.text_field :reg_fee, class: "form-control" %>
                </div>

            </div>

            <div class="col-sm-4">

              <label class="control-label">Warranty Price</label><br/><br/>
                <div class="input-group">
                  <span class="input-group-addon">$</span>
                  <%= f.text_field :warranty_price, class: "form-control" %>
                </div>

            </div>

            <div class="col-sm-4">

              <label class="control-label">Gap Price</label><br/><br/>
                <div class="input-group">
                  <span class="input-group-addon">$</span>
                  <%= f.text_field :gap_price, class: "form-control" %>

                </div>

            </div>


          </div>

          <br/><br/>

          <%= f.submit "Update Deal", :class => 'btn btn-success'  %>






          <% end %>



        </div>








      </div>




    </div>









  </div>
</div>



