
<div class="page-container"><!-- add class "sidebar-collapsed" to close sidebar by default, "chat-visible" to make chat appear always -->

  <%= render 'layouts/sidebar' %>



  <div class="main-content">
    <%= render 'layouts/dealer_admin_nav' %>

    <div class="profile-env">

      <header class="row">

        <div class="col-sm-2">

          <a href="#" class="profile-picture">
            <img src="/deal.png" height ="115" width="115" style="border-radius: 50%;" />
          </a>

        </div>

        <div class="col-sm-7">

          <ul class="profile-info-sections">
            <li>
              <div class="profile-name">
                <strong>Create a Pending Deal</strong>
                <span>Creating a deal for <%= "$#{number_with_precision(@temp.amount, :delimiter => ',', precision: 2)}" %></span>
              </div>
            </li>


          </ul>

        </div>

        <div class="col-sm-3">

          <div class="profile-buttons">
            <%= link_to "<i class='entypo-cross'></i> Finalize Deal".html_safe, new_dealership_deal_path(@dealership, car_id: @temp.car_id, customer_id: @temp.customer_id, employee_id: @temp.employee_id, amount: @temp.amount, sales_tax_percent: @temp.sales_tax_percent, down_payment: @temp.down_payment, term: @temp.term, apr: @temp.apr, trade_in_value: @temp.trade_in_value, less_payoff: @temp.less_payoff, warranty_price: @temp.warranty_price, gap_price: @temp.gap_price, doc_fee: @temp.doc_fee, reg_fee: @temp.reg_fee, smog_fee: @temp.smog_fee, other_fee: @temp.other_fee), class: "btn btn-success", role: "button" %>



          </div>
        </div>

      </header>

      <section class="profile-info-tabs">

        <div class="row">
          <div class="col-sm-offset-2 col-sm-10">
            <div class="row">
              <div class="col-md-3">
                <div class="profile-stat">
                  <h4><%= "$#{number_with_precision(@temp.amount, :delimiter => ',', precision: 2)}" %></h4>
                  <span><a href="#">Purchase Price</a></span>
                </div>
              </div>
              <div class="col-md-3">
                <div class="profile-stat">
                  <h4><%= @temp.term ? "#{@temp.term} months" : "N/A" %></h4>
                  <span><a href="#">Term</a></span>
                </div>
              </div>
              <div class="col-md-3">
                <div class="profile-stat">
                  <h4><%= @temp.apr ? "#{@temp.apr}%" : "N/A"%></h4>
                  <span><a href="#">APR</a></span>
                </div>
              </div>


            </div>




            <!-- tabs for the profile links -->
            <ul class="nav nav-tabs">
              <li class="active"><a href="#home" data-toggle="tab">Calculations</a></li>
              <li><a href="#vehicle_details" data-toggle="tab">Vehicle Details</a></li>
            </ul>





          </div>


        </div>

      </section>
      <div class="tab-content">
        <div class="tab-pane active" id="home">

          <div class="row">
            <div class="col-sm-4">

              <div class="tile-stats tile-aqua">
                <div class="icon"><i class="entypo-calendar"></i></div>
                <div class="num" data-start="0" data-end="23" data-postfix="" data-duration="1500" data-delay="1200"><h2 style="color: white;"><%=  "$#{number_with_precision(@monthly_payment, :delimiter => ',', precision: 2)}" %></h2></div>

                <h3><%= "Monthly Payment" %></h3>
              </div>

            </div>

            <div class="col-sm-4">

              <div class="tile-stats tile-red">
                <div class="icon"><i class="entypo-clipboard"></i></div>
                <div class="num" data-start="0" data-end="23" data-postfix="" data-duration="1500" data-delay="1200"><h2 style="color: white;"><%=  "$#{number_with_precision(@final_amount, :delimiter => ',', precision: 2)}" %></h2></div>

                <h3><%= "Total Cost" %></h3>
              </div>

            </div>

            <div class="col-sm-4">

              <div class="tile-stats tile-green">
                <div class="icon"><i class="entypo-flash"></i></div>
                <% if @car %>
                <% wholesale_percent = (@temp.amount / @car.wholesale_price) * 100 if @car.wholesale_price > 0 %>
                <% retail_percent = (@temp.amount / @car.retail_price) * 100 if @car.retail_price > 0 %>

                  <div class="num" data-start="0" data-end="23" data-postfix="" data-duration="1500" data-delay="1200">
                   <h2 style="color: white;">
                    <%=  wholesale_percent ? "#{number_with_precision(wholesale_percent, :delimiter => ',', precision: 1)}%" : "N/A" %> 
                    / 
                    <%=  retail_percent ? "#{number_with_precision(retail_percent, :delimiter => ',', precision: 1)}%" : "N/A" %>  
                  </h2>
                  </div>
                <h3><%= "Wholesale / Retail" %></h3>
                <% else %>
                  <div class="num" data-start="0" data-end="23" data-postfix="" data-duration="1500" data-delay="1200"><h2 style="color: white;">N/A</h2></div>
                  <h3><%= "Add Vehicle for KBB Comparisons" %></h3>
                <% end %>
              </div>

            </div>


          </div>


          <%= form_for [@dealership, @temp], :html => {:class => "form-horizontal form-groups-bordered"} do |f| %>
          <br/>
          <%= render 'layouts/error_messages', object: f.object %>

          <div class="row">

            <div class="col-sm-4">

              <label class="control-label">Frontline Vehicle</label><br/><br/>
                <%= f.collection_select :car_id, @cars.all, :id, :make_model_year, prompt: true, class: "form-control" %>


            </div>

            <div class="col-sm-4">

              <label class="control-label">Customer</label><br/><br/>
              <%= f.collection_select :customer_id, @customers, :id, :name, prompt: true, class: "form-control" %>
            </div>

            <div class="col-sm-4">

              <label class="control-label">Lead Salesperson</label><br/><br/>
              <%= f.collection_select :employee_id, @employees, :id, :name, prompt: true, class: "form-control" %>

            </div>
          </div>
          <br/>
          <div class="row">
            <div class="col-sm-4">

              <label class="control-label">Sales Price</label><br/><br/>
                <div class="input-group">
                  <span class="input-group-addon">$</span>
                  <%= f.text_field :amount, class: "form-control" %>
                </div>

            </div>

            <div class="col-sm-4">

              <label class="control-label">Sales Tax Percent</label><br/><br/>
                <div class="input-group">
                  <%= f.text_field :sales_tax_percent, class: "form-control" %>
                  <span class="input-group-addon">%</span>
                </div>

            </div>

            <div class="col-sm-4">

              <label class="control-label">Down Payment</label><br/><br/>
                <div class="input-group">
                  <span class="input-group-addon">$</span>
                  <%= f.text_field :down_payment, class: "form-control" %>
                </div>

            </div>


          </div>

          <br/>
          <div class="row">
            <div class="col-sm-4">

              <label class="control-label">Term</label><br/><br/>
                <div class="input-group">
                  <%= f.text_field :term, class: "form-control" %>
                  <span class="input-group-addon">months</span>

                </div>

            </div>

            <div class="col-sm-4">

              <label class="control-label">APR</label><br/><br/>
                <div class="input-group">
                  <%= f.text_field :apr, class: "form-control" %>
                  <span class="input-group-addon">%</span>
                </div>

            </div>

            <div class="col-sm-4">

              <label class="control-label">Trade in Value</label><br/><br/>
                <div class="input-group">
                  <span class="input-group-addon">$</span>
                  <%= f.text_field :trade_in_value, class: "form-control" %>
                </div>

            </div>


          </div>
          <br/>
          <div class="row">

            <div class="col-sm-4">

              <label class="control-label">Less Payoff</label><br/><br/>
                <div class="input-group">
                  <span class="input-group-addon">$</span>
                  <%= f.text_field :less_payoff, class: "form-control" %>
                </div>

            </div>

            <div class="col-sm-4">

              <label class="control-label">Smog Fee</label><br/><br/>
                <div class="input-group">
                  <span class="input-group-addon">$</span>
                  <%= f.text_field :smog_fee, class: "form-control" %>
                </div>

            </div>

            <div class="col-sm-4">

              <label class="control-label">Document Fee</label><br/><br/>
                <div class="input-group">
                  <span class="input-group-addon">$</span>
                  <%= f.text_field :doc_fee, class: "form-control" %>
                </div>

            </div>




          </div>
          <br/>
          <div class="row">

            <div class="col-sm-4">

              <label class="control-label">Registration Fees <i><%= "(Previously entered $#{number_with_precision(@car.reg_fees, :delimiter => ',', :precision => 2)})" if @car && @car.reg_fees > 0 && @temp.reg_fee == nil || @temp.reg_fee == 0%></i>
</label><br/><br/>
                <div class="input-group">
                  <span class="input-group-addon">$</span>
                  <%= f.text_field :reg_fee, class: "form-control" %>
                </div>
                <br/>

                <label class="control-label">Warranty Price</label><br/><br/>
                  <div class="input-group">
                    <span class="input-group-addon">$</span>
                    <%= f.text_field :warranty_price, class: "form-control" %>
                  </div>

            </div>

            <div class="col-sm-4">

              <label class="control-label">Other Fees</label><br/><br/>
                <div class="input-group">
                  <span class="input-group-addon">$</span>
                  <%= f.text_field :other_fee, class: "form-control" %>
                </div>



            </div>

            <div class="col-sm-4">

              <label class="control-label">Gap Price</label><br/><br/>
                <div class="input-group">
                  <span class="input-group-addon">$</span>
                  <%= f.text_field :gap_price, class: "form-control" %>

                </div>

            </div>


          </div>

          <br/><br/>

          <%= f.submit "Update Deal", :class => 'btn btn-success'  %>






          <% end %>



        </div>

        <div class="tab-pane" id="vehicle_details">
          <% if @car %>
              <section class="profile-feed">
                <div class="profile-stories">
                  <div class="invoice">


                    <div class="margin"></div>

                    <div class="row">

                      <div class="col-sm-3 invoice-left">



                      </div>

                      <div class="col-sm-3 invoice-left">


                      </div>

                      <div class="col-md-6 invoice-right">

                        <% if params[:start_date]  %>
                        <h5><%= "Date Range: #{params[:start_date]} to #{params[:end_date]}" %></h5>
                        <br/>
                        <% end %>

                      </div>

                    </div>



                    <table class="table">
                      <thead>
                        <tr>
                          <th width="30%"><b>Revenues</b></th>
                          <th width="50%"></th>
                          <th class="text-right"><b>Total</b></th>
                        </tr>
                      </thead>

                      <tbody>
                        <tr>
                          <td>Amount Received</td>
                          <td></td>
                          <td class="text-right"><%= "$#{number_with_precision(@amount_received, :delimiter => ',', precision: 2)}" %></td>
                        </tr>




                        <tr>
                          <td><b>Total</b></td>
                          <td></td>
                          <td class="text-right"><%= "$#{number_with_precision(@amount_received, :delimiter => ',', precision: 2)}" %></td>

                        </tr>




                      </tbody>
                    </table>

                    <table class="table">
                      <thead>
                        <tr>
                          <th width="30%"><b>Expenses</b> (<%= link_to "Update Vehicle Details", dealership_car_path(@dealership, @car) %>)</th>
                          <th width="50%"></th>
                          <th class="text-right"><b>Total</b></th>
                        </tr>
                      </thead>

                      <tbody>
                        <tr>
                          <td class="normal-table-vehicle">Acquire Price</td>
                          <td class="normal-table-vehicle"></td>
                          <td class="text-right normal-table-vehicle"><%= "$#{number_with_precision(@car.acquire_price, :delimiter => ',', precision: 2)}" %></td>
                        </tr>

                        <tr>
                          <td class="normal-table-vehicle">Vehicle Expenses</td>
                          <td class="normal-table-vehicle"></td>
                          <td class="text-right normal-table-vehicle"><%= "$#{number_with_precision(@car_repair_expenses, :delimiter => ',', precision: 2)}" %></td>
                        </tr>

                        <tr>
                          <% if @commission %>
                            <td class="normal-table-vehicle">Commission</td>
                            <td class="normal-table-vehicle"></td>
                            <td class="text-right normal-table-vehicle"><%= "$#{number_with_precision(@commission_amount, :delimiter => ',', :precision => 2)}" %></td>
                          <% else %>
                          <td class="normal-table-vehicle">Commission</td>
                          <td class="normal-table-vehicle"></td>
                          <td class="text-right normal-table-vehicle">$0.00</td>
                          <% end %>
                        </tr>

                        <tr>
                          <td class="normal-table-vehicle">Pack</td>
                          <td class="normal-table-vehicle"></td>
                          <td class="text-right normal-table-vehicle"><%= @car.frontend_pac ? "$#{number_with_precision(@car.frontend_pac, :delimiter => ',', precision: 2)}" : "$0.00" %></td>
                        </tr>

                        <tr>
                          <td class="normal-table-vehicle">Advertising Cost</td>
                          <td class="normal-table-vehicle"></td>
                          <td class="text-right normal-table-vehicle"><%= @car.advertising_cost ? "$#{number_with_precision(@car.advertising_cost, :delimiter => ',', precision: 2)}" : "$0.00" %></td>
                        </tr>

                        <tr>
                          <td class="normal-table-vehicle">Other Costs</td>
                          <td class="normal-table-vehicle"></td>
                          <td class="text-right normal-table-vehicle"><%= @car.other_costs ? "$#{number_with_precision(@car.other_costs, :delimiter => ',', precision: 2)}" : "$0.00" %></td>
                        </tr>

                        <tr>
                          <td><b>Total</b></td>
                          <td></td>
                          <td class="text-right"><b><%= "$#{number_with_precision(@total_price, :delimiter => ',', precision: 2)}" %></b></td>
                        </tr>




                      </tbody>
                    </table>

                    <table class="table">
                      <thead>
                        <tr>
                          <th width="30%"><b>Net Profit</b></th>
                          <th width="50%"><b></b></th>
                          <th class="text-right"><b>Total</b></th>
                        </tr>
                      </thead>

                      <tbody>
                        <tr>
                          <td><b>Net Profit</b></td>
                          <td></td>
                          <td class="text-right"><b><%= "$#{number_with_precision(@profit, :delimiter => ',', precision: 2)}" %></b></td>
                        </tr>
                      </tbody>
                    </table>


                  </div>

                </div><!-- Footer -->

              </div>
            </section>
          <% else %>
            <p> This deal does not have a year associated with it yet</p>
          <% end %>
        </div>








      </div>




    </div>









  </div>
</div>



