<div class="page-container"><!-- add class "sidebar-collapsed" to close sidebar by default, "chat-visible" to make chat appear always -->

  <%= render 'layouts/sidebar' %>



  <div class="main-content">
    <%= render 'layouts/dealer_admin_nav' %>

    <h2>Create GAP Insurance Provider </h2>
    <br/>

    <div class="panel-body">

    <%= form_for [@dealership, @gap], :html => {:class => "form-horizontal form-groups-bordered"} do |f| %>
    <%= render 'layouts/error_messages', object: f.object %>

    <div class="row">
      <div class="col-md-4">
          <%= f.text_field :name, class: "form-control", placeholder: "Name" %>
      </div>
      <div class="col-md-4">
          <%= f.text_field :address_line_1, class: "form-control", placeholder: "Address Line 1" %>
      </div>
      <div class="col-md-4">
          <%= f.text_field :address_line_2, class: "form-control", placeholder: "Address Line 2" %>
      </div>
    </div>
    <br/>
    <div class="row">
      <div class="col-md-4">
          <%= f.text_field :address_city, class: "form-control", placeholder: "City" %>
      </div>
      <div class="col-md-4">
          <%= f.text_field :address_state, class: "form-control", placeholder: "State" %>
      </div>
      <div class="col-md-4">
          <%= f.text_field :address_zip, class: "form-control", placeholder: "Zip" %>
      </div>
    </div>
    <br/>
    <div class="row">
      <div class="col-md-4">
          <%= f.text_field :contact_name, class: "form-control", placeholder: "Contact Name" %>
      </div>
      <div class="col-md-4">
          <%= f.text_field :contact_phone, class: "form-control", placeholder: "Contact Phone" %>
      </div>
      <div class="col-md-4">
          <%= f.text_field :contact_email, class: "form-control", placeholder: "Contact E-Mail" %>
      </div>
    </div>
    <br/>
    <div class="row">
      <div class="col-md-4">
          <%= f.text_area :description, class: "form-control", placeholder: "Description" %>
      </div>
    </div>



   
    <div class="form-group">
      <div class="col-sm-5">
            <%= f.submit "Create Provider", :class => 'btn btn-success'  %>
      </div>
    </div>

    <% end %>
    </div>




  </div>
</div>



