<div class="page-container"><!-- add class "sidebar-collapsed" to close sidebar by default, "chat-visible" to make chat appear always -->

  <%= render 'layouts/sidebar' %>



  <div class="main-content">
    <%= render 'layouts/dealer_admin_nav' %>

    <div class="profile-env">

      <header class="row">

        <div class="col-sm-2">

          <a href="#" class="profile-picture">
            <img src="<%= @gap.image %>" height ="115" width="115" style="border-radius: 50%;" />
          </a>

        </div>

        <div class="col-sm-7">

          <ul class="profile-info-sections">
            <li>
              <div class="profile-name">
                <strong><%= @gap.name %></strong>
                <span><%= "Name" %></span>
              </div>
            </li>

            <li>
              <div class="profile-stat">

              </div>
            </li>

          </ul>

        </div>

        <div class="col-sm-3">

          <div class="profile-buttons">
            <a href="/dealerships/<%=@dealership.id%>/gaps/<%=@gap.id%>/edit" class="btn btn-info">
              <i class="entypo-pencil"></i>
              Edit Provider
            </a>



          </div>
        </div>

      </header>

      <section class="profile-info-tabs">

        <div class="row">
          <div class="col-sm-offset-2 col-sm-10">







            <!-- tabs for the profile links -->
            <ul class="nav nav-tabs">
              <li class="active"><a href="#details" data-toggle="tab">Provider Details</a></li>
              <li><a href="#deals" data-toggle="tab">Deals</a></li>
            </ul>




          </div>


        </div>

      </section>
      <div class="tab-content">

        <div class="tab-pane active" id="details">
          <div class="panel panel-dark" data-collapsed="0">
            <div class="panel-heading">
              <div class="panel-title">Basics</div>
            </div>
            <div class="panel-body">
              <div class="row">
                <div class="col-md-4">
                  <p><i class="entypo-forward"></i>Contact Name: <%= @gap.contact_name.length > 0 ? "#{@gap.contact_name}" : "Not Entered" %></p>
                  <p><i class="entypo-forward"></i>Address: <%= @gap.address.length > 5  ? "#{@gap.address}" : "Not Entered" %></p>
                </div>
                <div class="col-md-4">
                  <p><i class="entypo-forward"></i>Contact E-Mail: <%= @gap.contact_email.length > 0 ? "#{@gap.contact_email}" : "Not Entered" %></p>
                </div>
                <div class="col-md-4">
                  <p><i class="entypo-forward"></i>Contact Phone: <%= @gap.contact_phone.length > 0  ? "#{@gap.contact_phone}" : "Not Entered" %></p>

                </div>
            </div>
          </div>
          </div>

          <div class="panel panel-dark" data-collapsed="0">
            <div class="panel-heading">
              <div class="panel-title">Description</div>
            </div>
            <div class="panel-body">
              <div class="row">
                <div class="col-md-8">
                  <%= @gap.description.length > 0 ? @gap.description : "No description has been entered" %>

                </div>
              </div>
            </div>
        </div>
        <% if @is_admin == true %>
        <%= link_to "<i class='entypo-cross'></i> Delete Provider".html_safe, dealership_gap_path(@dealership, @gap), class: "btn btn-danger", role: "button", method: "delete", confirm: "Are you sure?" %>
        <% end %>

      </div>

      <div class="tab-pane" id="deals">
          <%= link_to "<i class='entypo-plus'></i> Add Deal".html_safe, new_dealership_temp_path(@dealership), class: "btn btn-success", role: "button" %>



          <ul class="nav nav-tabs">
           <li class="active"><a href="#final" data-toggle="tab">Finalized Deals</a></li>
           <li><a href="#pending" data-toggle="tab">Pending Deals</a></li>

         </ul>

         <div class="tab-content">
          <div class="tab-pane active" id="final">
            <section class="profile-feed">
              <div class="profile-stories">

                <% @deals.each do |deal| %>
                <div class="member-entry">

                  <span class="member-img">
                    <img src="/deal.png" class="img-rounded" />
                  </span>

                  <div class="member-details">


                    <h4>
                      <% customer = Customer.find(deal.customer_id) %>
                      <% employee = Employee.find(deal.employee_id) %>
                      <% car = Car.find(deal.car_id) %>
                      <%= link_to "Sold #{car.make_model_year} to #{customer.name} for  $#{number_with_precision(deal.amount, :delimiter => ',', precision: 2)} ", dealership_deal_path(@dealership, deal) %>
                    </h4>

                    <div class="row info-list">

                      <div class="col-sm-4">
                        <i class="entypo-forward"></i>
                        Date: <%= deal.date.strftime("%m/%d/%Y") %>
                      </div>

                      <div class="col-sm-4">
                        <i class="entypo-forward"></i>
                        Final Sales Price: <%= deal.amount ? "$#{number_with_precision(deal.amount, :delimiter => ',', precision: 2)}" : "Not Entered" %>
                      </div>

                      <div class="col-sm-4">
                        <i class="entypo-forward"></i>
                        Down Payment: <%= deal.down_payment ? "$#{number_with_precision(deal.down_payment, :delimiter => ',', precision: 2)}" : "Not Entered" %>
                      </div>

                      <div class="clear"></div>

                      <div class="col-sm-4">
                        <i class="entypo-forward"></i>
                        Term: <%= deal.term ? deal.term : "Not Entered" %>
                      </div>

                      <div class="col-sm-4">
                        <i class="entypo-forward"></i>
                        APR: <%= deal.apr ? deal.apr : "Not Entered" %>
                      </div>

                      <div class="col-sm-4">
                        <i class="entypo-forward"></i>
                        Trade In Value: <%= deal.trade_in_value ? "$#{number_with_precision(deal.trade_in_value, :delimiter => ',', precision: 2)}" : "Not Entered" %>
                      </div>

                    </div>
                  </div>

                </div>
                <% end %>
              </div>

              <% if @deals.length ==0 %>
              <br/><p><%= @gap.name %> does not have any finalized deals yet</p>
              <%end%>

            </section>
          </div>
          <div class="tab-pane" id="pending">
            <section class="profile-feed">
              <div class="profile-stories">
                <% @temps.each do |deal| %>
                <% customer = Customer.find(deal.customer_id) if deal.customer_id %>
                <div class="member-entry">

                  <span class="member-img">
                    <img src="/deal.png" class="img-rounded" />
                  </span>

                  <div class="member-details">
                    <h4>
                      <% if customer %>
                      <%= link_to "Pending deal to #{customer.name} for $#{number_with_precision(deal.amount, :delimiter => ',', precision: 2)} ", dealership_temp_path(@dealership, deal) %>
                      <% else %>
                      <%= link_to "Pending deal for $#{number_with_precision(deal.amount, :delimiter => ',', precision: 2)} ", dealership_temp_path(@dealership, deal) %>
                      <% end %>
                    </h4>
                    <div class="row info-list">

                      <div class="col-sm-4">
                        <i class="entypo-forward"></i>
                        Date: <%= deal.date ? deal.date.strftime("%m/%d/%Y") : "N/A" %>
                      </div>

                      <div class="col-sm-4">
                        <i class="entypo-forward"></i>
                        Sales Price: <%= deal.amount ? "$#{number_with_precision(deal.amount, :delimiter => ',', precision: 2)}" : "Not Entered" %>
                      </div>

                      <div class="col-sm-4">
                        <i class="entypo-forward"></i>
                        Down Payment: <%= deal.down_payment ? "$#{number_with_precision(deal.down_payment, :delimiter => ',', precision: 2)}" : "Not Entered" %>
                      </div>

                      <div class="clear"></div>

                      <div class="col-sm-4">
                        <i class="entypo-forward"></i>
                        Term: <%= deal.term ? "#{deal.term}%" : "Not Entered" %>
                      </div>

                      <div class="col-sm-4">
                        <i class="entypo-forward"></i>
                        APR: <%= deal.apr ? deal.apr : "Not Entered" %>
                      </div>

                      <div class="col-sm-4">
                        <i class="entypo-forward"></i>
                        Trade In Value: <%= deal.trade_in_value ? "$#{number_with_precision(deal.trade_in_value, :delimiter => ',', precision: 2)}" : "Not Entered" %>
                      </div>

                    </div>
                  </div>

                </div>
                <% end %>
                <% if @temps.length == 0 %>
                <br/>
                <%= "There are  no pending deals" %>
                <% end %>
              </div>
            </section>
          </div>
        </div>
      </div>








      </div>




    </div>

  </div>
</div>




