<div class="page-container"><!-- add class "sidebar-collapsed" to close sidebar by default, "chat-visible" to make chat appear always -->

  <%= render 'layouts/sidebar' %>



  <div class="main-content">
    <%= render 'layouts/dealer_admin_nav' %>
    <div class="panel-body">

      <h2>Add a Customer</h2>
      <br/>

      <%= form_for [@dealership, @customer], :html => {:class => "form-horizontal form-groups-bordered"} do |f| %>
      <%= render 'layouts/error_messages', object: f.object %>

      <div class="row">
        <div class="col-md-4">
            <%= f.text_field :first, class: "form-control", placeholder: "First Name" %>
        </div>
        <div class="col-md-4">
            <%= f.text_field :last, class: "form-control", placeholder: "Last Name" %>
        </div>
        <div class="col-md-4">
            <%= f.text_field :address_line_1, class: "form-control", placeholder: "Address Line 1" %>
        </div>
      </div>
      <br/>

      <div class="row">
        <div class="col-md-4">
            <%= f.text_field :address_line_2, class: "form-control", placeholder: "Address Line 2" %>
        </div>
        <div class="col-md-4">
            <%= f.text_field :address_city, class: "form-control", placeholder: "City" %>
        </div>
        <div class="col-md-4">
            <%= f.select :address_state, @us_states, prompt: true%>
        </div>
      </div>
      <br/>

      <div class="row">
        <div class="col-md-4">
            <%= f.text_field :address_zip, class: "form-control", placeholder: "Zip" %>
        </div>
        <div class="col-md-4">
            <%= f.text_field :time_at_residence, class: "form-control", placeholder: "Time at Residence (months)" %>
        </div>
        <div class="col-md-4">
          <%= f.text_field :email, class: "form-control", placeholder: "E-Mail" %>
        </div>
      </div>
      <br/>

      <div class="row">
        <div class="col-md-4">
            <%= f.text_field :phone, class: "form-control", placeholder: "Phone" %>
        </div>
        <div class="col-md-4">
            Birthday&nbsp;
            <%= f.date_field :dob, class: "form-control date_form", placeholder: "Date of Birth" %>
        </div>
        <div class="col-md-4">
          <%= f.text_field :ssn, class: "form-control", placeholder: "Social Security Number (Last 4)" %>
        </div>
      </div>
      <br/>

      <div class="row">
        <div class="col-md-4">
            <%= f.text_field :driver_license_number, class: "form-control", placeholder: "Driver's License Number" %>
        </div>

      </div>
      <br/>


      <h4> Employer Information </h4>
      <br/>

      <div class="row">
        <div class="col-md-4">
            <%= f.text_field :employer, class: "form-control", placeholder: "Employer Company Name" %>
        </div>
        <div class="col-md-4">
            <%= f.text_field :employer_address_line_1, class: "form-control", placeholder: "Address Line 1" %>
        </div>
        <div class="col-md-4">
          <%= f.text_field :employer_address_line_2, class: "form-control", placeholder: "Address Line 2" %>
        </div>
      </div>
      <br/>

      <div class="row">
        <div class="col-md-4">
            <%= f.text_field :employer_address_city, class: "form-control", placeholder: "City" %>
        </div>
        <div class="col-md-4">
          <%= f.select :employer_address_state, @us_states, prompt: true%>
        </div>
        <div class="col-md-4">
          <%= f.text_field :employer_address_zip, class: "form-control", placeholder: "Zip" %>
        </div>
      </div>
      <br/>

      <div class="row">
        <div class="col-md-4">
            <%= f.text_field :employer_contact, class: "form-control", placeholder: "Employer Contact Name" %>
        </div>
        <div class="col-md-4">
          <%= f.text_field :employer_title, class: "form-control", placeholder: "Employer Contact Title" %>
        </div>
        <div class="col-md-4">
          <%= f.text_field :employer_phone, class: "form-control", placeholder: "Employer Contact Phone" %>
        </div>
      </div>
      <br/>

      <div class="row">
        <div class="col-md-4">
            <div class="input-group">
              <span class="input-group-addon">$</span>
              <%= f.text_field :monthly_gross_salary, class: "form-control", placeholder: "Monthly Gross Salary" %>
            </div>
        </div>
        <div class="col-md-4">
          <%= f.text_field :time_at_employer, class: "form-control", placeholder: "Time at Employer (months)" %>
        </div>
      </div>
      <br/>






      <h4>Additional Notes</h4>
      <br/>

      <div class="row">
        <div class="col-md-4">
          <%= f.text_area :notes, class: "form-control", placeholder: "Notes" %>
        </div>
      </div>
  






      <div class="form-group">
        <div class="col-sm-5">
              <%= f.submit "Create Customer", :class => 'btn btn-success'  %>

        </div>
      </div>





      <% end %>
    </div>




  </div>
</div>

