<div class="page-container"><!-- add class "sidebar-collapsed" to close sidebar by default, "chat-visible" to make chat appear always -->

  <%= render 'layouts/sidebar' %>



  <div class="main-content">
    <%= render 'layouts/dealer_admin_nav' %>

    <h2>Edit Deal </h2>

    <%= form_for [@dealership, @deal], :html => {:class => "form-horizontal form-groups-bordered"} do |f| %>
    <%= render 'layouts/error_messages', object: f.object %>

    <br/>
    <div class="row">
      <div class="col-sm-4">
        <% car = Car.find(@deal.car_id) %>
        <%= car.make_model_year %>
      </div>
      <div class="col-sm-4">
        <%= f.collection_select :customer_id, @customers, :id, :name, selected: params[:customer_id], prompt: "Please select customer", class: "form-control" %>
      </div>
      <div class="col-sm-4">
        <%= f.collection_select :employee_id, @employees, :id, :name, selected: params[:employee_id], prompt: "Please select lead employee", class: "form-control" %>
      </div>
    </div>
    <br/>

    <div class="row">
      <div class="col-sm-4">
        Deal Date &nbsp;
        <%= f.date_field :date, class: "form-control date_form" %>
      </div>
    </div>
    <br/>

    <h3>Financials</h3>
    <br/>
    <div class="row">
      <div class="col-sm-4">
          <div class="input-group">
            <span class="input-group-addon">$</span>
            <%= f.text_field :amount, class: "form-control", placeholder: "Sales Price" %>
          </div>

      </div>
      <div class="col-sm-4">
          <div class="input-group">
            <%= f.text_field :sales_tax_percent, class: "form-control", placeholder: "Sales Tax Percent"%>
            <span class="input-group-addon">%</span>
          </div>
      </div>
      <div class="col-sm-4">
          <div class="input-group">
            <span class="input-group-addon">$</span>
            <%= f.text_field :down_payment, class: "form-control", placeholder: "Down Payment" %>
          </div>
      </div>
    </div>
    <br/>

    <div class="row">
      <div class="col-sm-4">
          <div class="input-group">
            <span class="input-group-addon">$</span>
            <%= f.text_field :deffered_down_1_payment, class: "form-control", placeholder: "Deferred Down Payment" %>
          </div>
      </div>
      <div class="col-sm-4">
        Deferred Date &nbsp;
        <%= f.date_field :deffered_down_1_date, class: "form-control date_form" %>
      </div>
      <div class="col-sm-4">
        <div class="input-group">
          <%= f.text_field :term, class: "form-control", placeholder: "Term" %>
          <span class="input-group-addon">months</span>
        </div>
      </div>
    </div>
    <br/>

    <div class="row">
      <div class="col-sm-4">
        <div class="input-group">
        <%= f.text_field :apr, class: "form-control", placeholder: "APR" %>
        <span class="input-group-addon">%</span>
        </div>
      </div>
      <div class="col-sm-4">
        First Payment Date &nbsp;
        <%= f.date_field :first_payment_date, class: "form-control date_form" %>
      </div>
      <div class="col-sm-4">
        <div class="input-group">
          <span class="input-group-addon">$</span>
          <%= f.text_field :trade_in_value, class: "form-control", placeholder: "Trade in Value" %>
        </div>
      </div>
    </div>
    <br/>

    <div class="row">
      <div class="col-sm-4">
        <div class="input-group">
          <span class="input-group-addon">$</span>
          <%= f.text_field :less_payoff, class: "form-control", placeholder: "Less Payoff" %>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="input-group">
          <span class="input-group-addon">$</span>
          <%= f.text_field :smog_fee, class: "form-control", placeholder: "Smog Fee" %>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="input-group">
          <span class="input-group-addon">$</span>
          <%= f.text_field :doc_fee, class: "form-control", placeholder: "Document Fee" %>
        </div>
      </div>
    </div>
    <br/>

    <div class="row">
      <div class="col-sm-4">
        <div class="input-group">
          <span class="input-group-addon">$</span>
          <%= f.text_field :reg_fee, class: "form-control", placeholder: "Registration Fee" %>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="input-group">
          <span class="input-group-addon">$</span>
          <%= f.text_field :other_fee, class: "form-control", placeholder: "Other Fees" %>
        </div>
      </div>
      <div class="col-sm-4">
      </div>
    </div>
    <br/>






    <br/>
    <h3>GAP Insurance</h3>
    <br/>

    <div class="row">
      <div class="col-sm-4">
        <%= f.collection_select :gap_id, @gaps, :id, :name, prompt: "Please select provider", class: "form-control" %>   &nbsp; <%= link_to "(Add New Provider)", new_dealership_gap_path(@dealership), target: "_blank" %>
      </div>
      <div class="col-sm-4">
        <div class="input-group">
          <%= f.text_field :gap_term, class: "form-control", placeholder: "GAP Term" %>
          <span class="input-group-addon">months</span>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="input-group">
          <span class="input-group-addon">$</span>
          <%= f.text_field :gap_price, class: "form-control", placeholder: "GAP Price" %>
        </div>
      </div>
    </div>
    <br/>




    <h3>Warranty</h3>
    <br/>

    <div class="row">
      <div class="col-sm-4">
        <%= f.collection_select :warranty_id, @warranties, :id, :name, prompt: "Please select provider", class: "form-control" %>   &nbsp; <%= link_to "(Add New Provider)", new_dealership_warranty_path(@dealership), target: "_blank" %>
      </div>
      <div class="col-sm-4">
        <div class="input-group">
            <%= f.text_field :warranty_type, class: "form-control", placeholder: "Warranty Type" %>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="input-group">
        <%= f.text_field :warranty_term, class: "form-control", placeholder: "Warranty Term" %>
        <span class="input-group-addon">months</span>
        </div>
      </div>
    </div>
    <br/>
    <div class="row">
      <div class="col-sm-4">
        <div class="input-group">
          <span class="input-group-addon">$</span>
          <%= f.text_field :warranty_price, class: "form-control", placeholder: "Warranty Price" %>
        </div>
      </div>
      <div class="col-sm-4">
      </div>
      <div class="col-sm-4">
      </div>
    </div>
    <br/>



    <h3>Lenders</h3>
    <br/>

    <div class="row">
      <div class="col-sm-4">
        <%= f.collection_select :lender_id, @lenders, :id, :name, prompt: "Please select lender", class: "form-control" %>   &nbsp; <%= link_to "(Add New Lender)", new_dealership_lender_path(@dealership), target: "_blank" %>
      </div>
      <div class="col-sm-4">
        <div class="input-group">
          <span class="input-group-addon">$</span>
          <%= f.text_field :discount_fee, class: "form-control", placeholder: "Discount Fee" %>
        </div>
      </div>
      <div class="col-sm-4">

      </div>
    </div>
    <br/>





   


    <div class="form-group">
      <div class="col-sm-5">
        <%= f.submit "Update Deal", :class => 'btn btn-success'  %>

      </div>
    </div>
    <% end %>




  </div>
</div>




