<div class="page-container"><!-- add class "sidebar-collapsed" to close sidebar by default, "chat-visible" to make chat appear always -->

  <%= render 'layouts/sidebar' %>



  <div class="main-content">
    <%= render 'layouts/dealer_admin_nav' %>
    <%= link_to "<i class='entypo-plus'></i> Add Finalized Deal".html_safe, new_dealership_deal_path(@dealership), class: "btn btn-success", role: "button" %>
    <%= link_to "<i class='entypo-plus'></i> Add Pending Deal".html_safe, new_dealership_temp_path(@dealership), class: "btn btn-success", role: "button" %>

    <br/>
    <br/>

    <ul class="nav nav-tabs" id="myTab">
      <li class="active"><a href="#deals" data-toggle="tab">View Finalized Deals</a></li>
      <li><a href="#temp" data-toggle="tab">View Pending Deals</a></li>
      <li><a href="#quick" data-toggle="tab">Quick Calculator</a></li>
    </ul>

    <div class="tab-content">
      <div class="tab-pane active" id="deals">
        <table class="table table-bordered datatable" id="table-1">
          <thead>
            <tr>
              <th>Car</th>
              <th>Customer</th>
              <th>Amount</th>
              <th>Date</th>
            </tr>
          </thead>
          <tbody>
            <% @deals.each do |deal| %>
            <% car = Car.find(deal.car_id) %>
            <% customer = Customer.find(deal.customer_id) if deal.customer_id %>
            <tr class="gradeU">
              <td><%= link_to car.make_model_year, dealership_deal_path(@dealership, deal)  %></td>
              <% if customer %>
              <td><%= link_to customer.name, dealership_customer_path(@dealership, customer)  %></td>
              <% else %>
              <td>N/A</td>
              <% end %>
              <td><%= link_to "$#{number_with_precision(deal.amount, :delimiter => ',', precision: 2)}", dealership_deal_path(@dealership, deal)  %></td>
              <td><%= link_to deal.date.strftime("%m/%d/%Y"), dealership_deal_path(@dealership, deal)  %></td>
            </tr>
            <% end %>
          </tbody>
        </table>
        <p><%= "There are no deals" if @deals.length ==0 %></p>
      </div>
      <div class="tab-pane" id="temp">
        <table class="table table-bordered datatable" id="table-1">
          <thead>
            <tr>
              <th>Car</th>
              <th>Customer</th>
              <th>Amount</th>
              <th>Date</th>
            </tr>
          </thead>
          <tbody>
            <% @temps.each do |deal| %>
            <% car = Car.find(deal.car_id) %>
            <% customer = Customer.find(deal.customer_id) if deal.customer_id %>
            <tr class="gradeU">
              <td><%= link_to car.make_model_year, dealership_temp_path(@dealership, deal)  %></td>
              <% if customer %>
              <td><%= link_to customer.name, dealership_customer_path(@dealership, customer)  %></td>
              <% else %>
              <td>N/A</td>
              <% end %>
              <td><%= link_to "$#{number_with_precision(deal.amount, :delimiter => ',', precision: 2)}", dealership_temp_path(@dealership, deal)  %></td>
              <% if deal.date %>
              <td><%= link_to deal.date.strftime("%m/%d/%Y"), dealership_temp_path(@dealership, deal)  %></td>
              <% else %>
              <td><%= link_to "N/A", dealership_temp_path(@dealership, deal)  %></td>
              <% end %>
            </tr>
            <% end %>
          </tbody>
        </table>
        <p><%= "There are no deals" if @temps.length ==0 %></p>
      </div>
      <div class="tab-pane" id="quick">

        <%= form_tag(controller: "deals", action: "quick_calculate", remote: true, class: "form-horizontal form-groups-bordered", via: "get") do %>

        <div class="form-group">
          <label class="col-sm-3 control-label">Sales Price</label>
          <div class="col-sm-5">
            <div class="input-group">
              <span class="input-group-addon">$</span>
              <%= text_field_tag 'amount', nil, class: 'form-control' %>

            </div>
          </div>
        </div><br/><br/><br/>
        <div class="form-group">
          <label class="col-sm-3 control-label">Sales Tax Percent</label>
          <div class="col-sm-5">
            <div class="input-group">
              <%= text_field_tag 'sales_tax_percent', nil, class: 'form-control' %>
              <span class="input-group-addon">%</span>
            </div>
          </div>
        </div><br/><br/>
        <div class="form-group">
          <label class="col-sm-3 control-label">Down Payment</label>
          <div class="col-sm-5">
            <div class="input-group">
              <span class="input-group-addon">$</span>
              <%= text_field_tag 'down_payment', nil, class: 'form-control' %>
          </div>
        </div><br/><br/><br/>
        <div class="form-group">
          <label class="col-sm-3 control-label">Term</label>
          <div class="col-sm-5">
            <div class="input-group">
              <%= text_field_tag 'term', nil, class: 'form-control' %>
              <span class="input-group-addon">months</span>
            </div>
          </div>
        </div><br/><br/>
        <div class="form-group">
          <label class="col-sm-3 control-label">APR</label>
          <div class="col-sm-5">
            <div class="input-group">
              <%= text_field_tag 'apr', nil, class: 'form-control' %>
              <span class="input-group-addon">%</span>
            </div>
          </div>
        </div><br/><br/>
        <div class="form-group">
          <label class="col-sm-3 control-label">Trade in Value</label>
          <div class="col-sm-5">
            <div class="input-group">
              <span class="input-group-addon">$</span>
              <%= text_field_tag 'trade_in_value', nil, class: 'form-control' %>
            </div>
          </div>
        </div>
      </div>
      <br/><br/><br/>
      <div class="form-group">
        <label class="col-sm-3 control-label">
         <%= hidden_field_tag :dealership_id, @dealership.id %>
       </label>
       <div class="col-sm-5">
        <%= submit_tag("Calculate", class: "btn btn-info") %>

        <br/>
      </div>
    </div>


    <br/><br/><br/><br/>

    <% end %>







  </div>
</div>



