<div class="page-container"><!-- add class "sidebar-collapsed" to close sidebar by default, "chat-visible" to make chat appear always -->

  <%= render 'layouts/sidebar' %>



  <div class="main-content">
    <%= render 'layouts/dealer_admin_nav' %>
    <%= link_to "<i class='entypo-plus'></i> Add Deal".html_safe, new_dealership_deal_path(@dealership), class: "btn btn-success", role: "button" %>

    <br/>
    <br/>
    <table class="table table-bordered datatable" id="table-1">
      <thead>
        <tr>
          <th>Car</th>
          <th>Employee</th>
          <th>Amount</th>
          <th>Date</th>
        </tr>
      </thead>
      <tbody>
        <% @deals.each do |deal| %>
        <% car = Car.find(deal.car_id) %>
        <% employee = Employee.find(deal.employee_id) %>
        <tr class="gradeU">
          <td><%= link_to car.make_model_year, dealership_deal_path(@dealership, deal)  %></td>
          <td><%= link_to employee.name, dealership_employee_path(@dealership, employee)  %></td>
          <td><%= link_to "$#{number_with_delimiter(deal.amount, :delimiter => ',')}", dealership_deal_path(@dealership, deal)  %></td>
          <td><%= link_to deal.date, dealership_deal_path(@dealership, deal)  %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
    <%= "There are no deals" if @deals.length ==0 %>





  </div>
</div>



