<div class="container">
<%= form_for [@dealership, @deal] do |f| %>
<%= render 'layouts/error_messages', object: f.object %>
<div class="form-group">
  <%= f.label :car_id %><br/>
  <%= f.collection_select :car_id, @cars.all, :id, :make_model_year, prompt: true %>
</div>
<div class="form-group">
  <%= f.label :customer_id%><br/>
  <%= f.collection_select :customer_id, @customers.all, :id, :name, prompt: true %>
</div>
<div class="form-group">
  <%= f.label :employee_id %><br/>
  <%= f.collection_select :employee_id, @employees.all, :id, :name, prompt: true %>
</div>
<div class="form-group">
  <%= f.label :date %><br/>
  <%= f.date_field :date %>
</div>

<h2>Financials</h2>
<div class="form-group">
  <%= f.label :amount %><br/>
  <%= f.text_field :amount %>
</div>
<div class="form-group">
  <%= f.label :sales_tax_amount %><br/>
  <%= f.text_field :sales_tax_amount %>
</div>
<div class="form-group">
  <%= f.label :down_payment %><br/>
  <%= f.text_field :down_payment %>
</div>
<div class="form-group">
  <%= f.label :term %><br/>
  <%= f.text_field :term %>
</div>
<div class="form-group">
  <%= f.label :apr %><br/>
  <%= f.text_field :apr %>
</div>
<div class="form-group">
  <%= f.label :trade_in_value %><br/>
  <%= f.text_field :trade_in_value %>
</div>

<h2>GAP Insurance</h2>
<div class="form-group">
  <%= f.label :gap_insurance %><br/>
  <%= f.check_box :gap_insurance %>
</div>
<div class="form-group">
  <%= f.label :gap_name %><br/>
  <%= f.text_field :gap_name %>
</div>
<%= f.submit "Create Deal", :class => 'btn btn-success'  %>
<% end %>
</div>
