<div class="page-container"><!-- add class "sidebar-collapsed" to close sidebar by default, "chat-visible" to make chat appear always -->

  <%= render 'layouts/sidebar' %>



  <div class="main-content">
    <%= render 'layouts/dealer_admin_nav' %>

    <h2>Create Deal </h2>

    <%= form_for [@dealership, @deal], :html => {:class => "form-horizontal form-groups-bordered"} do |f| %>
    <%= render 'layouts/error_messages', object: f.object %>
    <div class="form-group">
      <label class="col-sm-3 control-label">Vehicle</label>
      <div class="col-sm-5">
        <%= f.collection_select :car_id, @cars.all, :id, :make_model_year, prompt: true, class: "form-control" %>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-3 control-label">Customer</label>
      <div class="col-sm-5">
        <%= f.collection_select :customer_id, @customers, :id, :name, prompt: true, class: "form-control" %>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-3 control-label">Employee</label>
      <div class="col-sm-5">
        <%= f.collection_select :employee_id, @employees, :id, :name, prompt: true, class: "form-control" %>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-3 control-label">Date</label>
      <div class="col-sm-5">
        <%= f.date_field :date, class: "form-control" %>
      </div>
    </div>

    <br/>
    <h3>Financials</h3>
    <div class="form-group">
      <label class="col-sm-3 control-label">Sales Price</label>
      <div class="col-sm-5">
        <div class="input-group">
          <span class="input-group-addon">$</span>
          <%= f.text_field :amount, class: "form-control", value: params[:amount] %>
        </div>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-3 control-label">Sales Tax Percent</label>
      <div class="col-sm-5">
          <div class="input-group">
              <%= f.text_field :sales_tax_percent, value: params[:sales_tax_percent], class: "form-control" %>
            <span class="input-group-addon">%</span>
          </div>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-3 control-label">Down Payment</label>
      <div class="col-sm-5">
          <div class="input-group">
            <span class="input-group-addon">$</span>
            <%= f.text_field :down_payment, value: params[:down_payment], class: "form-control" %>
          </div>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-3 control-label">Defered Down Payment</label>
      <div class="col-sm-5">
        <% if @fields %>
          <div class="input-group">
            <span class="input-group-addon">$</span>
            <%= f.text_field :deffered_down_1_payment, value: @fields["deffered_down_1_payment"], class: "form-control" %>
          </div>
        <% else %>
          <div class="input-group">
            <span class="input-group-addon">$</span>
            <%= f.text_field :deffered_down_1_payment, class: "form-control" %>
          </div>
        <% end %>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-3 control-label">Defered Down Payment Date</label>
      <div class="col-sm-5">
        <%= f.date_field :deffered_down_1_date, class: "form-control" %>
      </div>
    </div>



    <div class="form-group">
      <label class="col-sm-3 control-label">Term</label>
      <div class="col-sm-5">
        <div class="input-group">
        <%= f.text_field :term, value: params[:term], class: "form-control" %>
        <span class="input-group-addon">months</span>
        </div>

      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-3 control-label">APR</label>
      <div class="col-sm-5">

        <div class="input-group">
        <%= f.text_field :apr, value: params[:apr], class: "form-control" %>
        <span class="input-group-addon">%</span>
        </div>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-3 control-label">Trade Allowance</label>
      <div class="col-sm-5">
          <div class="input-group">
            <span class="input-group-addon">$</span>
            <%= f.text_field :trade_in_value, value: params[:trade_in_value], class: "form-control" %>

          </div>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-3 control-label">Less Payoff</label>
      <div class="col-sm-5">
          <div class="input-group">
            <span class="input-group-addon">$</span>
            <%= f.text_field :trade_in_paid, value: params[:trade_in_paid], class: "form-control" %>

          </div>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-3 control-label">Smog Fee</label>
      <div class="col-sm-5">
          <div class="input-group">
            <span class="input-group-addon">$</span>
            <%= f.text_field :smog_fee, value: params[:smog_fee], class: "form-control" %>

          </div>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-3 control-label">Document Fee</label>
      <div class="col-sm-5">
          <div class="input-group">
            <span class="input-group-addon">$</span>
            <%= f.text_field :doc_fee, value: params[:doc_fee], class: "form-control" %>

          </div>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-3 control-label">Registration Fee</label>
      <div class="col-sm-5">

          <div class="input-group">
            <span class="input-group-addon">$</span>
            <%= f.text_field :reg_fee, value: params[:reg_fee], class: "form-control" %>

          </div>
      </div>
    </div>

    <br/>
    <h3>GAP Insurance</h3>
    <div class="form-group">
      <label class="col-sm-3 control-label">Gap Insurance Provider</label>
      <div class="col-sm-5">
        <%= f.collection_select :gap_id, @gaps, :id, :name, prompt: true, class: "form-control" %>   &nbsp; <%= link_to "(Add New Provider)", new_dealership_gap_path(@dealership), target: "_blank" %>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-3 control-label">Term</label>
      <div class="col-sm-5">
        <% if @fields %>
        <div class="input-group">
        <%= f.text_field :gap_term, value: @fields["gap_term"], class: "form-control" %>
        <span class="input-group-addon">months</span>
        </div>
        <% else %>
        <div class="input-group">
        <%= f.text_field :gap_term, class: "form-control" %>
        <span class="input-group-addon">months</span>
        </div>
        <% end %>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-3 control-label">GAP Price</label>
      <div class="col-sm-5">
          <div class="input-group">
            <span class="input-group-addon">$</span>
            <%= f.text_field :gap_price, value: params[:gap_price] , class: "form-control" %>

          </div>
      </div>
    </div>

    <h3>Warranty</h3>
    <div class="form-group">
      <label class="col-sm-3 control-label">Warranty Provider</label>
      <div class="col-sm-5">
        <%= f.collection_select :warranty_id, @warranties, :id, :name, prompt: true, class: "form-control" %>   &nbsp; <%= link_to "(Add New Provider)", new_dealership_warranty_path(@dealership), target: "_blank" %>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-3 control-label">Type</label>
      <div class="col-sm-5">
          <div class="input-group">
              <%= f.text_field :warranty_type, class: "form-control" %>
          </div>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-3 control-label">Term</label>
      <div class="col-sm-5">
        <% if @fields %>
        <div class="input-group">
        <%= f.text_field :warranty_term, value: @fields["warranty_term"], class: "form-control" %>
        <span class="input-group-addon">months</span>
        </div>
        <% else %>
        <div class="input-group">
        <%= f.text_field :warranty_term, class: "form-control" %>
        <span class="input-group-addon">months</span>
        </div>
        <% end %>
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-3 control-label">Price Charged Customer</label>
      <div class="col-sm-5">
          <div class="input-group">
            <span class="input-group-addon">$</span>
            <%= f.text_field :warranty_price, value: params[:warranty_price], class: "form-control" %>

          </div>
      </div>
    </div>

    <h3>Lenders</h3>
    <div class="form-group">
      <label class="col-sm-3 control-label">Lender</label>
      <div class="col-sm-5">
        <%= f.collection_select :lender_id, @lenders, :id, :name, prompt: true, class: "form-control" %>   &nbsp; <%= link_to "(Add New Lender)", new_dealership_lender_path(@dealership), target: "_blank" %>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-3 control-label">Discount Fee</label>
      <div class="col-sm-5">
        <% if @fields %>
          <div class="input-group">
            <span class="input-group-addon">$</span>
            <%= f.text_field :discount_fee, value: @fields["discount_fee"], class: "form-control" %>

          </div>
        <% else %>
          <div class="input-group">
            <span class="input-group-addon">$</span>
            <%= f.text_field :discount_fee, class: "form-control" %>

          </div>
        <% end %>
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-3 control-label"></label>
      <div class="col-sm-5">
        <%= f.submit "Create Deal", :class => 'btn btn-success'  %>

      </div>
    </div>
    <% end %>




  </div>
</div>




