
<div class="page-container"><!-- add class "sidebar-collapsed" to close sidebar by default, "chat-visible" to make chat appear always -->

  <%= render 'layouts/sidebar' %>



  <div class="main-content">
    <%= render 'layouts/dealer_admin_nav' %>

    <div class="tile-stats tile-aqua">
      <div class="icon"><i class="entypo-calendar"></i></div>
      <div class="num" data-start="0" data-end="23" data-postfix="" data-duration="1500" data-delay="1200"><h2 style="color: white;"><%=  "$#{number_with_precision(@monthly_payment, :delimiter => ',', precision: 2)}" %></h2></div>

      <h3><%= "Monthly Payment" %></h3>
      <p><%= "Something looks off, check your numbers and recalculate below" if @monthly_payment.to_i <= 0 %></p>
    </div>

    <div class="panel panel-dark" data-collapsed="0">
      <div class="panel-heading">
        <div class="panel-title">Details</div>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-md-4">
            <p><i class="entypo-forward"></i>Sales Price: <%= "$#{number_with_precision(@sales_price, :delimiter => ',', precision: 2)}" %></p>
          </div>
          <div class="col-md-4">
            <p><i class="entypo-forward"></i>Sales Tax Amount: <%= "$#{number_with_precision(@sales_tax_amount, :delimiter => ',', precision: 2)} (#{number_with_precision(@sales_tax_percent, :delimiter => ',', precision: 2)}%)" %></p>
          </div>
          <div class="col-md-4">
            <p><i class="entypo-forward"></i>APR: <%= "#{number_with_precision(@apr, :delimiter => ',', precision: 2)}%" %></p>
          </div>
        </div>

        <div class="row">
          <div class="col-md-4">
            <p><i class="entypo-forward"></i>Term: <%=  pluralize(@term, 'month') %></p>
          </div>
          <div class="col-md-4">
            <p><i class="entypo-forward"></i>Down Payment: <%= "$#{number_with_precision(@down_payment, :delimiter => ',', precision: 2)}" %></p>
          </div>
          <div class="col-md-4">
            <p><i class="entypo-forward"></i>Trade in Value: <%= "$#{number_with_precision(@trade_in_value, :delimiter => ',', precision: 2)}" %></p>
          </div>
        </div>
      </div>
    </div>










    <hr>
    <h2>Recalculate</h2><br/>



    <%= form_tag(controller: "deals", action: "quick_calculate", remote: true, class: "form-horizontal form-groups-bordered", via: "get") do %>

    <div class="form-group">
      <label class="col-sm-3 control-label">Sales Price</label>
      <div class="col-sm-5">
        <div class="input-group">
          <span class="input-group-addon">$</span>
          <%= text_field_tag 'amount', nil, class: 'form-control', value: @sales_price %>

        </div>
      </div>
    </div><br/><br/><br/>
    <div class="form-group">
      <label class="col-sm-3 control-label">Sales Tax Percent</label>
      <div class="col-sm-5">
        <div class="input-group">
          <%= text_field_tag 'sales_tax_percent', nil, class: 'form-control', value: @sales_tax_percent %>
          <span class="input-group-addon">%</span>
        </div>
      </div>
    </div><br/><br/>
    <div class="form-group">
      <label class="col-sm-3 control-label">Down Payment</label>
      <div class="col-sm-5">
        <div class="input-group">
          <span class="input-group-addon">$</span>
          <%= text_field_tag 'down_payment', nil, class: 'form-control', value: @down_payment %>
        </div>
      </div><br/><br/><br/>
      <div class="form-group">
        <label class="col-sm-3 control-label">Term</label>
        <div class="col-sm-5">
          <div class="input-group">
            <%= text_field_tag 'term', nil, class: 'form-control', value: @term %>
            <span class="input-group-addon">months</span>
          </div>
        </div>
      </div><br/><br/>
      <div class="form-group">
        <label class="col-sm-3 control-label">APR</label>
        <div class="col-sm-5">
          <div class="input-group">
            <%= text_field_tag 'apr', nil, class: 'form-control', value: @apr %>
            <span class="input-group-addon">%</span>
          </div>
        </div>
      </div><br/><br/>
      <div class="form-group">
        <label class="col-sm-3 control-label">Trade in Value</label>
        <div class="col-sm-5">
          <div class="input-group">
            <span class="input-group-addon">$</span>
            <%= text_field_tag 'trade_in_value', nil, class: 'form-control', value: @trade_in_value %>
          </div>
        </div>
      </div>
    </div>
    <br/><br/><br/>
    <div class="form-group">
      <label class="col-sm-3 control-label">
       <%= hidden_field_tag :dealership_id, @dealership.id %>
     </label>
     <div class="col-sm-5">
      <%= submit_tag("Recalculate", class: "btn btn-info") %>

      <br/>
    </div>
  </div>


  <br/><br/><br/><br/>

  <% end %>









</div>
</div>



