
<div class="page-container"><!-- add class "sidebar-collapsed" to close sidebar by default, "chat-visible" to make chat appear always -->

  <%= render 'layouts/sidebar' %>



  <div class="main-content">
    <%= render 'layouts/dealer_admin_nav' %>

    <div class="profile-env">

      <header class="row">

        <div class="col-sm-2">

          <a href="#" class="profile-picture">
            <img src="/deal.png" height ="115" width="115" style="border-radius: 50%;" />
          </a>

        </div>

        <div class="col-sm-7">

          <ul class="profile-info-sections">
            <li>
              <div class="profile-name">
                <strong>Deal for <%= link_to @car.make_model_year, dealership_car_path(@dealership, @car) %></strong>
                <% if @employee %>
                <span>Sold by <%= link_to @employee.name, dealership_employee_path(@dealership, @employee) %> to <%= link_to @customer.name, dealership_customer_path(@dealership, @customer) %></span>
                <% else %>
                <span>Sold to <%= link_to @customer.name, dealership_customer_path(@dealership, @customer) %></span>
                <% end %>
              </div>
            </li>

            <li>
              <div class="profile-stat">
                <h3><%= "$#{number_with_precision(@deal.amount, :delimiter => ',', precision: 2)}" %></h3>
                <span><a href="#">Purchase Price</a></span>
              </div>
            </li>

          </ul>

        </div>

        <div class="col-sm-3">

          <div class="profile-buttons">
            <a href="/dealerships/<%=@dealership.id%>/deals/<%=@deal.id%>/edit" class="btn btn-info">
              <i class="entypo-pencil"></i>
              Edit Deal
            </a>


          </div>
        </div>

      </header>

      <section class="profile-info-tabs">

        <div class="row">
          <div class="col-sm-offset-2 col-sm-10">
            <div class="row">
              <div class="col-md-3">
                <div class="profile-stat">
                  <h4><%= "$#{number_with_precision(@deal.amount, :delimiter => ',', precision: 2)}" %></h4>
                  <span><a href="#">Purchase Price</a></span>
                </div>
              </div>
              <div class="col-md-3">
                <div class="profile-stat">
                  <h4><%= @deal.term ? "#{@deal.term} months" : "N/A" %></h4>
                  <span><a href="#">Term</a></span>
                </div>
              </div>
              <div class="col-md-3">
                <div class="profile-stat">
                  <h4><%= @deal.apr ? "#{@deal.apr}%" : "N/A"%></h4>
                  <span><a href="#">APR</a></span>
                </div>
              </div>


            </div>




            <!-- tabs for the profile links -->
            <ul class="nav nav-tabs">
              <li class="active"><a href="#home" data-toggle="tab">Deal Details</a></li>
            </ul>




          </div>


        </div>

      </section>
      <div class="tab-content">
        <div class="tab-pane active" id="home">


          <div class="panel panel-dark" data-collapsed="0">
            <div class="panel-heading">
              <div class="panel-title">Basics</div>
            </div>
            <div class="panel-body">
              <div class="row">
                <div class="col-md-4">
                  <p><i class="entypo-forward"></i>Customer: <%= link_to @customer.name, dealership_customer_path(@dealership, @customer) %></p>
                </div>
                <div class="col-md-4">
                  <p><i class="entypo-forward"></i>Car: <%= link_to @car.make_model_year, dealership_car_path(@dealership, @car) %></p>
                </div>
                <div class="col-md-4">
                  <p><i class="entypo-forward"></i>Date: <%= @deal.date.strftime("%m/%d/%Y") %></p>
                </div>
              </div>
            </div>
          </div>

          <div class="panel panel-dark" data-collapsed="0">
            <div class="panel-heading">
              <div class="panel-title">Financials</div>
            </div>
            <div class="panel-body">
              <div class="row">
                <div class="col-md-4">
                  <p><i class="entypo-forward"></i>Purchase Price: <%= "$#{number_with_precision(@deal.amount, :delimiter => ',', precision: 2)}" %></p>
                  <p><i class="entypo-forward"></i>Sales Tax Amount: <%= @deal.sales_tax_amount ? "$#{number_with_precision(@deal.sales_tax_amount, :delimiter => ',', precision: 2)}" : "N/A"  %></p>
                </div>
                <div class="col-md-4">
                  <p><i class="entypo-forward"></i>Down Payment: <%= @deal.down_payment ? "$#{number_with_precision(@deal.down_payment, :delimiter => ',', precision: 2)}" : "N/A"  %></p>
                  <p><i class="entypo-forward"></i>Term: <%= @deal.term ? "#{@deal.term} months" : "N/A"  %></p>

                </div>
                <div class="col-md-4">
                  <p><i class="entypo-forward"></i>APR: <%= @deal.apr ? "#{@deal.apr}%" : "N/A"  %></p>

                  <p><i class="entypo-forward"></i>Trade In Value: <%= @deal.trade_in_value ? "$#{number_with_precision(@deal.trade_in_value, :delimiter => ',', precision: 2)}" : "N/A"  %></p>

                </div>
              </div>
            </div>
          </div>

          <div class="panel panel-dark" data-collapsed="0">
            <div class="panel-heading">
              <div class="panel-title">GAP Insurance</div>
            </div>
            <div class="panel-body">
              <div class="row">
                <div class="col-md-4">
                  <p><i class="entypo-forward"></i>Has GAP Insurance: <%= @deal.gap_insurance ? "Yes" : "No" %></p>
                </div>
                <div class="col-md-4">
                  <p><i class="entypo-forward"></i>Has GAP Insurance: <%= @deal.gap_insurance ? @deal.gap_name : "N/A" %></p>

                </div>
                <div class="col-md-4">
                </div>
              </div>
            </div>
          </div>

          <div class="panel panel-dark" data-collapsed="0">
            <div class="panel-heading">
              <div class="panel-title">Calculations</div>
            </div>
            <div class="panel-body">
              <div class="row">
                <div class="col-md-4">
                  <p>Need calculations</p>
                </div>
                <div class="col-md-4">

                </div>
                <div class="col-md-4">
                </div>
              </div>
            </div>
          </div>


          <% if @is_admin == true %>
          <%= link_to "<i class='entypo-cross'></i> Delete Deal".html_safe, dealership_deal_path(@dealership, @deal), class: "btn btn-danger", role: "button", method: "delete", confirm: "Are you sure?" %>
          <% end %>





        </div>





      </div>




    </div>









  </div>
</div>



