<div class="page-container"><!-- add class "sidebar-collapsed" to close sidebar by default, "chat-visible" to make chat appear always -->

  <%= render 'layouts/sidebar' %>



  <div class="main-content">
    <%= render 'layouts/dealer_admin_nav' %>

    <%= link_to "<i class='entypo-plus'></i> Add Vendor".html_safe, new_dealership_vendor_path(@dealership), class: "btn btn-success", role: "button" %>
    <br/><br/>
    <table class="table table-bordered datatable" id="table-1">
      <thead>
        <tr>
          <th>Name</th>
          <th>Address</th>
          <th>Contact Name</th>
          <th>Contact E-Mail</th>
          <th>Contact Phone</th>
        </tr>
      </thead>
      <tbody>
        <% @vendors.each do |vendor| %>
        <tr class="gradeU">
          <td><%= link_to vendor.name, dealership_vendor_path(@dealership, vendor)  %></td>
          <td><%= link_to vendor.address, dealership_vendor_path(@dealership, vendor)  %></td>
          <td><%= link_to vendor.contact_name, dealership_vendor_path(@dealership, vendor)  %></td>
          <td><%= link_to vendor.contact_email, dealership_vendor_path(@dealership, vendor) %></td>
          <td><%= link_to vendor.contact_phone, dealership_vendor_path(@dealership, vendor)  %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
    <%= "There are no vendors" if @vendors.length ==0 %>







  </div>
</div>


