<div class="container">
  <p><%= @vendor.name %></p>
  <p><%= @vendor.address %></p>
  <p><%= @vendor.contact_name %></p>
  <p><%= @vendor.contact_email %></p>
  <p><%= @vendor.contact_phone %></p>
</div>