<div class="page-container"><!-- add class "sidebar-collapsed" to close sidebar by default, "chat-visible" to make chat appear always -->

  <%= render 'layouts/sidebar' %>



  <div class="main-content">
    <%= render 'layouts/dealer_admin_nav' %>
    <h2>Basic Information</h2>
    <p>Name: <%= @vendor.name %></p>
    <p>Address: <%= @vendor.address %></p>
    <p>Contact Name: <%= @vendor.contact_name %></p>
    <p>Contact EMail: <%= @vendor.contact_email %></p>
    <p>Contact Phone: <%= @vendor.contact_phone %></p>

    <h2>Recent Transactions</h2>
    <table class="table table-striped">

      <% @vendor_transactions.each do |transaction| %>
        <tr>
          <td><%= transaction.name %></td>
          <td><%= transaction.amount %></td>
          <td><%= transaction.date %></td>
          <td><%= link_to "Edit", edit_dealership_repair_path(@dealership, transaction) if transaction.class.table_name == "repairs" %></td>
        </tr>
      <% end %>
    </table>





  </div>
</div>




