<div class="page-container"><!-- add class "sidebar-collapsed" to close sidebar by default, "chat-visible" to make chat appear always -->

  <%= render 'layouts/sidebar' %>



  <div class="main-content">
    <%= render 'layouts/dealer_admin_nav' %>
    <%= form_for [@dealership, @revenue] do |f| %>
    <%= render 'layouts/error_messages', object: f.object %>

    <div class="form-group">
      <%= f.label :name %><br/>
      <%= f.text_field :name %>
    </div>
    <div class="form-group">
      <%= f.label :amount %><br/>
      <%= f.text_field :amount %>
    </div>
    <div class="form-group">
      <%= f.label :description%><br/>
      <%= f.text_area :description %>
    </div>
    <div class="form-group">
      <%= f.label :date %><br/>
      <%= f.date_field :date %>
    </div>

    <%= f.submit "Create Revenue Entry", :class => 'btn btn-success'  %>
    <% end %>




  </div>
</div>



