
<div class="page-container"><!-- add class "sidebar-collapsed" to close sidebar by default, "chat-visible" to make chat appear always -->

  <%= render 'layouts/sidebar' %>



  <div class="main-content">
    <%= render 'layouts/dealer_admin_nav' %>

    <div class="profile-env">

      <header class="row">

        <div class="col-sm-2">

          <a href="#" class="profile-picture">
            <img src="/card.png" height ="115" width="115" style="border-radius: 50%;" />
          </a>

        </div>

        <div class="col-sm-7">

          <ul class="profile-info-sections">
            <li>
              <div class="profile-name">
                <strong><%= @card.name %></strong>
                <span><%= @card.number.length > 0 ? "Last 4 Digita: #{@card.number}" : "No number entered" %></span>
              </div>
            </li>

            <li>

            </li>

          </ul>

        </div>

        <div class="col-sm-3">

          <div class="profile-buttons">
            <a href="/dealerships/<%=@dealership.id%>/cards/<%=@card.id%>/edit" class="btn btn-info">
              <i class="entypo-pencil"></i>
              Edit Card
            </a>


          </div>
        </div>
        <br/>

      </header>

      <section class="profile-info-tabs">
        <br/>

        <div class="row">
          <div class="col-sm-offset-2 col-sm-10">
            <div class="row">
              <div class="col-md-3">
                <div class="profile-stat">
                  <h4><%= "$#{number_with_precision(@total, :delimiter => ',', precision: 2)}" %></h4>
                  <span>Total Spent</span>
                </div>
              </div>
              <div class="col-md-3">
                <div class="profile-stat">
                  <h4><%= @transactions.count %></h4>
                  <span>Number of Transactions</span>
                </div>
              </div>
            </div>






            <!-- tabs for the profile links -->
            <ul class="nav nav-tabs">
              <li class="active"><a href="#home" data-toggle="tab">Transactions</a></li>
            </ul>




          </div>


        </div>

      </section>
      <div class="tab-content">
        <div class="tab-pane active" id="home">

          <table class="table table-bordered datatable" id="table-1">
            <thead>
              <tr>
                <th>Name</th>
                <th>Amount</th>
                <th>Date</th>
              </tr>
            </thead>
            <tbody>
              <% @transactions.each do |transaction| %>
              <% if transaction.class.table_name == "repairs" %>
              <tr class="gradeU">
                <td><%= link_to transaction.name, dealership_repair_path(@dealership, transaction)  %></td>
                <td><%= link_to "$#{number_with_precision(transaction.amount, :delimiter => ',', precision: 2)}", dealership_repair_path(@dealership, transaction) %></td>
                <td><%= link_to "#{transaction.date.strftime("%m/%d/%Y")}", dealership_repair_path(@dealership, transaction)  %></td>
                </tr>
                <% elsif transaction.class.table_name == "expenses" %>
                <tr class="gradeU">
                  <td><%= link_to transaction.name, dealership_expense_path(@dealership, transaction)  %></td>
                  <td><%= link_to "$#{number_with_precision(transaction.amount, :delimiter => ',', precision: 2)}", dealership_expense_path(@dealership, transaction) %></td>
                  <td><%= link_to "#{transaction.date.strftime("%m/%d/%Y")}", dealership_expense_path(@dealership, transaction)  %></td>
                  </tr>
                  <% elsif transaction.class.table_name == "paychecks" %>
                  <tr class="gradeU">
                    <td><%= link_to transaction.name, dealership_paycheck_path(@dealership, transaction)  %></td>
                    <td><%= link_to "$#{number_with_precision(transaction.amount, :delimiter => ',', precision: 2)}", dealership_paycheck_path(@dealership, transaction) %></td>
                    <td><%= link_to "#{transaction.date.strftime("%m/%d/%Y")}", dealership_paycheck_path(@dealership, transaction)  %></td>
                    </tr>
                    <% elsif transaction.class.table_name == "purchases" %>
                    <% car = Car.find(transaction.car_id) %>
                    <tr class="gradeU">
                      <td><%= link_to transaction.name, dealership_car_path(@dealership, car)  %></td>
                      <td><%= link_to "$#{number_with_precision(transaction.amount, :delimiter => ',', precision: 2)}", dealership_car_path(@dealership, car) %></td>
                      <td><%= link_to "#{transaction.date.strftime("%m/%d/%Y")}", dealership_car_path(@dealership, car)  %></td>
                      </tr>
                      <% end %>
                <% end %>
              </tbody>
            </table>

            <p><%= "There are no transactions" if @transactions.length ==0 %></p>


          <% if @is_admin == true %>
          <%= link_to "<i class='entypo-cross'></i> Delete Card".html_safe, dealership_card_path(@dealership, @card), class: "btn btn-danger", role: "button", method: "delete", confirm: "Are you sure?" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>



