<div class="page-container"><!-- add class "sidebar-collapsed" to close sidebar by default, "chat-visible" to make chat appear always -->

  <%= render 'layouts/sidebar' %>



  <div class="main-content">
    <%= render 'layouts/dealer_admin_nav' %>

    <h2>Edit <%= @car.make_model_year %> </h2>

    <div class="panel-body">

      <%= form_for [@dealership, @car], :html => {:class => "form-horizontal form-groups-bordered"} do |f| %>
      <%= render 'layouts/error_messages', object: f.object %>


      <div class="row">
        <div class="col-md-4">
          <%= f.text_field :vin, class: "form-control", placeholder: "VIN" %>
        </div>
        <div class="col-md-4">
          <% if @fields %>
          <%= f.text_field :stock_number,  class: "form-control" , value: @fields["stock_number"], placeholder: "Stock Number" %>
          <% else %>
          <%= f.text_field :stock_number,  class: "form-control", placeholder: "Stock Number"  %>
          <% end %>
        </div>
        <div class="col-md-4">
          <%= f.text_field :year, class: "form-control", placeholder: "Year" %>
        </div>
      </div>
      <br/>
      <div class="row">
        <div class="col-md-4">
          <%= f.text_field :make, class: "form-control", placeholder: "Make" %>
        </div>
        <div class="col-md-4">
          <%= f.text_field :model, class: "form-control", placeholder: "Model" %>
        </div>
        <div class="col-md-4">
          <% if @fields %>
          <%= f.text_field :trim,  class: "form-control" , value: @fields["trim"], placeholder: "Trim" %>
          <% else %>
          <%= f.text_field :trim,  class: "form-control", placeholder: "Trim"  %>
          <% end %>
        </div>
      </div>
      <br/>
      <div class="row">
        <div class="col-md-4">
          <% if @fields %>
          <%= f.text_field :miles,  class: "form-control" , value: @fields["miles"], placeholder: "Miles" %>
          <% else %>
          <%= f.text_field :miles,  class: "form-control", placeholder: "Miles"  %>
          <% end %>
        </div>
        <div class="col-md-4">
          <%= f.file_field :image, class: "form-control", placeholder: "Image" %>
        </div>
        <div class="col-md-4">
          <%= f.select :status, ['Frontline', 'Needs Repairs', 'Sold'], class: "form-control", placeholder: "Status" %>
        </div>
      </div>
      <br/>
      <div class="row">
        <div class="col-md-4">
          <% if @fields %>
          <%= f.text_area :description,  class: "form-control" , value: @fields["description"], placeholder: "Description" %>
          <% else %>
          <%= f.text_area :description,  class: "form-control", placeholder: "Description"  %>
          <% end %>
        </div>
      </div>
      <br/>

      <h4>More Details</h4>
      <br/>
      <div class="row">
        <div class="col-md-4">
          <% if @fields %>
          <%= f.text_field :transmission,  class: "form-control" , value: @fields["transmission"], placeholder: "Transmission" %>
          <% else %>
          <%= f.text_field :transmission,  class: "form-control", placeholder: "Transmission"  %>
          <% end %>
        </div>
        <div class="col-md-4">
          <% if @fields %>
          <%= f.text_field :body_style,  class: "form-control" , value: @fields["body_style"], placeholder: "Body Style" %>
          <% else %>
          <%= f.text_field :body_style,  class: "form-control", placeholder: "Body Style"  %>
          <% end %>
        </div>
        <div class="col-md-4">
          <% if @fields %>
          <%= f.text_field :exterior_color,  class: "form-control" , value: @fields["exterior_color"], placeholder: "Exterior Color" %>
          <% else %>
          <%= f.text_field :exterior_color,  class: "form-control", placeholder: "Exterior Color"  %>
          <% end %>
        </div>
      </div>
      <br/>
      <div class="row">
        <div class="col-md-4">
          <% if @fields %>
          <%= f.text_field :interior_color,  class: "form-control" , value: @fields["interior_color"], placeholder: "Interior Color" %>
          <% else %>
          <%= f.text_field :interior_color,  class: "form-control", placeholder: "Interior Color"  %>
          <% end %>
        </div>
        <div class="col-md-4">
          <% if @fields %>
          <%= f.text_field :engine,  class: "form-control" , value: @fields["engine"], placeholder: "Engine Type"  %>
          <% else %>
          <%= f.text_field :engine,  class: "form-control", placeholder: "Engine Type"   %>
          <% end %>

        </div>
        <div class="col-md-4">
          <% if @fields %>
          <%= f.text_field :wheel_base,  class: "form-control" , value: @fields["wheel_base"], placeholder: "Wheelbase" %>
          <% else %>
          <%= f.text_field :wheel_base,  class: "form-control", placeholder: "Wheelbase"  %>
          <% end %>

        </div>
      </div>
      <br/>
      <div class="row">
        <div class="col-md-4">
          <% if @fields %>
          <%= f.text_field :license_plate,  class: "form-control" , value: @fields["license_plate"], placeholder: "License Plate"  %>
          <% else %>
          <%= f.text_field :license_plate,  class: "form-control", placeholder: "License Plate"   %>
          <% end %>
        </div>
        <div class="col-md-4">
          Has been smogged?&nbsp;
          <%= f.radio_button :smog_status, "1" %>&nbsp;Yes&nbsp;
          <%= f.radio_button :smog_status, "0" %>&nbsp; No&nbsp;
        </div>
      </div>
      <br/>

      <h4>Acquistion Information</h4>
      <br/>

      <div class="row">
        <div class="col-md-4">
          <%= f.date_field :acquire_date, class: "form-control" %>
        </div>
        <div class="col-md-4">
          <div class="input-group">
            <span class="input-group-addon">$</span>
            <%= f.text_field :acquire_price, class: "form-control", placeholder: "Acquire Price" %>
          </div>
        </div>
        <div class="col-md-4">
          Payment Method &nbsp;
          <%= f.select :payment_method, ['Cash', 'Credit Card', 'Check', 'Other'], prompt: true, class: "form-control", placeholder: "Payment Method" %>
        </div>
      </div>
      <br/>

      <div class="row">
        <div class="col-md-4">
          Credit Card &nbsp;
          <%= f.collection_select :card_id, @cards.all, :id, :name, prompt: true %>
          &nbsp; <%= link_to "(Add New Card)", new_dealership_card_path(@dealership), target: "_blank" %>
        </div>
        <div class="col-md-4">
          <% if @fields %>
          <%= f.text_field :check_number,  class: "form-control" , value: @fields["check_number"], placeholder: "Check Number (if applicable)" %>
          <% else %>
          <%= f.text_field :check_number,  class: "form-control", placeholder: "Check Number (if applicable)"  %>
          <% end %>
        </div>
        <div class="col-md-4">
          Auction &nbsp;
          <%= f.collection_select :auction_id, @auctions.all, :id, :name, prompt: true %>
          &nbsp; <%= link_to "(Add New Auction)", new_dealership_auction_path(@dealership), target: "_blank" %>
        </div>
      </div>
      <br/>
      <div class="row">
        <div class="col-md-4">
          <% if @fields %>
          <%= f.text_field :invoice_number,  class: "form-control" , value: @fields["invoice_number"], placeholder: "Invoice Number" %>
          <% else %>
          <%= f.text_field :invoice_number,  class: "form-control", placeholder: "Invoice Number"  %>
          <% end %>
        </div>
        <div class="col-md-4">
          <div class="input-group">
            <span class="input-group-addon">$</span>
            <%= f.text_field :reg_fees, class: "form-control", placeholder: "Registration Fees" %>
          </div>
        </div>
      </div>
      <br/>

      <h4>Financial Information</h4>
      <br/>

      <div class="row">
        <div class="col-md-4">
          <% if @fields %>
          <div class="input-group">
            <span class="input-group-addon">$</span>
            <%= f.text_field :customer_price,  class: "form-control" , value: @fields["customer_price"], placeholder: "Customer Price"  %>
          </div>
          <% else %>
          <div class="input-group">
            <span class="input-group-addon">$</span>
            <%= f.text_field :customer_price,  class: "form-control",  placeholder: "Customer Price"   %>
          </div>
          <% end %>
        </div>

        <div class="col-md-4">

          <% if @fields %>
          <div class="input-group">
            <span class="input-group-addon">$</span>
            <%= f.text_field :wholesale_price,  class: "form-control" , value: @fields["wholesale_price"], placeholder: "Wholesale Price" %>
          </div>
          <% else %>
          <div class="input-group">
            <span class="input-group-addon">$</span>
            <%= f.text_field :wholesale_price,  class: "form-control", placeholder: "Wholesale Price"  %>
          </div>
          <% end %>
        </div>

        <div class="col-md-4">
          <% if @fields %>
          <div class="input-group">
            <span class="input-group-addon">$</span>
            <%= f.text_field :retail_price,  class: "form-control" , value: @fields["retail_price"], placeholder: "Retail Price" %>
          </div>
          <% else %>
          <div class="input-group">
            <span class="input-group-addon">$</span>
            <%= f.text_field :retail_price,  class: "form-control", placeholder: "Retail Price"  %>
          </div>
          <% end %>


        </div>

      </div>
      <br/>

      <div class="row">
        <div class="col-md-4">
          <% if @fields %>
          <div class="input-group">
            <span class="input-group-addon">$</span>
            <%= f.text_field :frontend_pac,  class: "form-control" , value: @fields["frontend_pac"], placeholder: "Pack"  %>
          </div>
          <% else %>
          <div class="input-group">
            <span class="input-group-addon">$</span>
            <%= f.text_field :frontend_pac,  class: "form-control", placeholder: "Pack"   %>
          </div>
          <% end %>
        </div>
        <div class="col-md-4">
          <% if @fields %>
          <div class="input-group">
            <span class="input-group-addon">$</span>
            <%= f.text_field :advertising_cost,  class: "form-control" , value: @fields["advertising_cost"], placeholder: "Advertising Costs" %>
          </div>
          <% else %>
          <div class="input-group">
            <span class="input-group-addon">$</span>
            <%= f.text_field :advertising_cost,  class: "form-control", placeholder: "Advertising Costs"  %>
          </div>
          <% end %>
        </div>
        <div class="col-md-4">
          <% if @fields %>
          <div class="input-group">
            <span class="input-group-addon">$</span>
            <%= f.text_field :other_costs,  class: "form-control" , value: @fields["other_costs"], placeholder: "Other Costs" %>
          </div>
          <% else %>
          <div class="input-group">
            <span class="input-group-addon">$</span>
            <%= f.text_field :other_costs,  class: "form-control", placeholder: "Other Costs"  %>
          </div>
          <% end %>


        </div>
      </div>
      <br/>

      <h4>Flooring Information</h4>
      <br/>

      <div class="row">
        <div class="col-md-4">
            Has been floored?&nbsp;
            <%= f.radio_button :flooring, "1" %>&nbsp;Yes&nbsp;
            <%= f.radio_button :flooring, "0" %>&nbsp; No&nbsp;
        </div>
        <div class="col-md-6">
          Flooring Company &nbsp;
          <%= f.collection_select :floorer_id, @floorers.all, :id, :name, prompt: true %>
          &nbsp; <%= link_to "(Add New Flooring Company)", new_dealership_floorer_path(@dealership), target: "_blank" %>
        </div>

      </div>
      <br/>


      <div class="form-group">
        <div class="col-sm-5">
          <%= f.submit "Update Vehicle", :class => 'btn btn-success'  %>

        </div>
      </div>

      <% end %>
    </div>
  </div>
</div>





