<div class="page-container"><!-- add class "sidebar-collapsed" to close sidebar by default, "chat-visible" to make chat appear always -->

  <%= render 'layouts/sidebar' %>



  <div class="main-content">
    <%= render 'layouts/dealer_admin_nav' %>
    <div class="panel-body">
  

      <% unless @no_vin_lookup %>

      <%= form_tag(controller: "cars", action: "new_with_vin", remote: true, class: "form-horizontal form-groups-bordered", via: "get") do %>

      <div class="row">
        <div class="col-sm-3">
          <%= text_field_tag 'vin', nil, class: 'form-control', placeholder: "Enter VIN to decode" %>
          <%= hidden_field_tag :dealership_id, @dealership.id %>
        </div>
        <div class="col-sm-5">
          <%= submit_tag("Lookup Vehicle Information", class: "btn btn-info") %>
        </div>
      </div>
      <% end %>
      <br/>





      <h2>Enter Information Manually</h2>
      <br/>
      <% end %>

      <%= form_for [@dealership, @car], :html => {:class => "form-horizontal form-groups-bordered"} do |f| %>
      <%= render 'layouts/error_messages', object: f.object %>

      <div class="row">
        <div class="col-md-4">
            <%= f.text_field :vin, class: "form-control", placeholder: "VIN" %>
        </div>
        <div class="col-md-4">
            <%= f.text_field :stock_number, class: "form-control", placeholder: "Stock Number" %>
        </div>
        <div class="col-md-4">
            <%= f.text_field :year, class: "form-control", placeholder: "Year" %>
        </div>
      </div>
      <br/>
      <div class="row">
        <div class="col-md-4">
            <%= f.text_field :make, class: "form-control", placeholder: "Make" %>
        </div>
        <div class="col-md-4">
            <%= f.text_field :model, class: "form-control", placeholder: "Model" %>
        </div>
        <div class="col-md-4">
            <%= f.text_field :trim, class: "form-control", placeholder: "Trim" %>
        </div>
      </div>
      <br/>
      <div class="row">
        <div class="col-md-4">
            <%= f.text_field :miles, class: "form-control", placeholder: "Miles" %>
        </div>
        <div class="col-md-4">
            <%= f.select :status, ['Frontline', 'Needs Repairs', 'Sold'], class: "form-control", placeholder: "Status" %>
        </div>
        <div class="col-md-4">
            <%= f.text_area :description, class: "form-control", placeholder: "Description" %>
        </div>
      </div>
      <br/>


      <h4>More Details</h4>
      <br/>
      <div class="row">
        <div class="col-md-4">
            <%= f.text_field :transmission, class: "form-control", placeholder: "Transmission" %>
        </div>
        <div class="col-md-4">
            <%= f.text_field :body_style, class: "form-control", placeholder: "Body Style" %>
        </div>
        <div class="col-md-4">
            <%= f.text_field :exterior_color, class: "form-control", placeholder: "Exterior Color" %>
        </div>
      </div>
      <br/>
      <div class="row">
        <div class="col-md-4">
            <%= f.text_field :interior_color, class: "form-control", placeholder: "Interior Color" %>
        </div>
        <div class="col-md-4">
            <%= f.text_field :engine, class: "form-control", placeholder: "Engine Type" %>
        </div>
        <div class="col-md-4">
            <%= f.text_field :wheel_base, class: "form-control", placeholder: "Wheelbase" %>
        </div>
      </div>
      <br/>
      <div class="row">
        <div class="col-md-4">
            <%= f.text_field :license_plate, class: "form-control", placeholder: "License Plate" %>
        </div>
        <div class="col-md-4">
            Has been smogged?&nbsp;
            <%= f.radio_button :smog_status, "1" %>&nbsp;Yes&nbsp;
            <%= f.radio_button :smog_status, "0" %>&nbsp; No&nbsp;
        </div>
      </div>
      <br/>



      <h4>Acquistion Information</h4>
      <br/>

      <div class="row">
        <div class="col-md-4">
            Acqusition Date &nbsp;
            <%= f.date_field :acquire_date, class: "form-control date_form" %>
        </div>
        <div class="col-md-4">
            <div class="input-group">
              <span class="input-group-addon">$</span>
              <%= f.text_field :acquire_price, class: "form-control", placeholder: "Acquire Price" %>
            </div>
        </div>
        <div class="col-md-4">
            Payment Method &nbsp;
            <%= f.select :payment_method, ['Cash', 'Credit Card', 'Check', 'Other'], prompt: true, class: "form-control", placeholder: "Payment Method" %>
        </div>
      </div>
      <br/>

      <div class="row">
        <div class="col-md-4">
            Credit Card &nbsp;
            <%= f.collection_select :card_id, @cards.all, :id, :name, prompt: true %>
            &nbsp; <%= link_to "(Add New Card)", new_dealership_card_path(@dealership), target: "_blank" %>
        </div>
        <div class="col-md-4">
            <%= f.text_field :check_number, class: "form-control", placeholder: "Check Number (if applicable)" %>
        </div>
        <div class="col-md-4">
            Auction &nbsp;
            <%= f.collection_select :auction_id, @auctions.all, :id, :name, prompt: true %>
            &nbsp; <%= link_to "(Add New Auction)", new_dealership_auction_path(@dealership), target: "_blank" %>
        </div>
      </div>
      <br/>
      <div class="row">
        <div class="col-md-4">
            <%= f.text_field :invoice_number, class: "form-control", placeholder: "Invoice Number" %>
        </div>
        <div class="col-md-4">
            <div class="input-group">
              <span class="input-group-addon">$</span>
              <%= f.text_field :reg_fees, class: "form-control", placeholder: "Registration Fees" %>
            </div>
        </div>
      </div>
      <br/>






      <h4>Financial Information</h4>
      <br/>

      <div class="row">
        <div class="col-md-4">
            <div class="input-group">
              <span class="input-group-addon">$</span>
              <%= f.text_field :customer_price, class: "form-control", placeholder: "Customer Price" %>
            </div>
        </div>
        <div class="col-md-4">
            <div class="input-group">
              <span class="input-group-addon">$</span>
              <%= f.text_field :wholesale_price, class: "form-control", placeholder: "Wholesale Price" %>
            </div>
        </div>
        <div class="col-md-4">
            <div class="input-group">
              <span class="input-group-addon">$</span>
              <%= f.text_field :retail_price, class: "form-control", placeholder: "Retail Price" %>
            </div>
        </div>
      </div>
      <br/>

      <div class="row">
        <div class="col-md-4">
            <div class="input-group">
              <span class="input-group-addon">$</span>
              <%= f.text_field :frontend_pac, class: "form-control", placeholder: "Pack" %>
            </div>
        </div>
        <div class="col-md-4">
            <div class="input-group">
              <span class="input-group-addon">$</span>
              <%= f.text_field :advertising_cost, class: "form-control", placeholder: "Advertising Costs" %>
            </div>
        </div>
        <div class="col-md-4">
            <div class="input-group">
              <span class="input-group-addon">$</span>
              <%= f.text_field :other_costs, class: "form-control", placeholder: "Other Costs" %>
            </div>
        </div>
      </div>
      <br/>




      <h4>Flooring Information</h4>
      <br/>

      <div class="row">
        <div class="col-md-4">
            Has been floored?&nbsp;
            <%= f.radio_button :flooring, "1" %>&nbsp;Yes&nbsp;
            <%= f.radio_button :flooring, "0" %>&nbsp; No&nbsp;
        </div>
        <div class="col-md-6">
          Flooring Company &nbsp;
          <%= f.collection_select :floorer_id, @floorers.all, :id, :name, prompt: true %>
          &nbsp; <%= link_to "(Add New Flooring Company)", new_dealership_floorer_path(@dealership), target: "_blank" %>
        </div>

      </div>
      <br/>


      <div class="form-group">
        <div class="col-sm-5">
          <%= f.submit "Create Vehicle", :class => 'btn btn-success'  %>

        </div>
      </div>


      <% end %>
    </div>
  </div>
</div>


