<div class="page-container"><!-- add class "sidebar-collapsed" to close sidebar by default, "chat-visible" to make chat appear always -->

  <%= render 'layouts/sidebar' %>



  <div class="main-content">
    <%= render 'layouts/dealer_admin_nav' %>

    <h2>Edit Expense </h2>

    <div class="panel-body">

    <%= form_for [@dealership, @expense], :html => {:class => "form-horizontal form-groups-bordered"} do |f| %>
    <%= render 'layouts/error_messages', object: f.object %>

    <div class="form-group">
      <label class="col-sm-3 control-label">Name</label>
      <div class="col-sm-5">
        <%= f.text_field :name, class: "form-control" %>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-3 control-label">Amount</label>
      <div class="col-sm-5">
        <div class="input-group">
          <span class="input-group-addon">$</span>
          <%= f.text_field :amount, class: "form-control" %>
        </div>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-3 control-label">Payment Method</label>
      <div class="col-sm-5">
        <%= f.select :payment_method, ['Cash', 'Credit Card', 'Check', 'Other'], :include_blank => " Select Payment Method"%>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-3 control-label">Credit Card (if applicable)</label>
      <div class="col-sm-5">
        <%= f.collection_select :card_id, @cards.all, :id, :name, :include_blank => " Select  Credit Card"%>

        &nbsp; <%= link_to "(Add New Card)", new_dealership_card_path(@dealership), target: "_blank" %>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-3 control-label">Check Number (if applicable)</label>
      <div class="col-sm-5">
        <% if @fields %>
          <%= f.text_field :check_number,  class: "form-control" , value: @fields["check_number"] %>
        <% else %>
          <%= f.text_field :check_number,  class: "form-control"  %>
        <% end %>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-3 control-label">Description</label>
      <div class="col-sm-5">
        <% if @fields %>
          <%= f.text_area :description, value: @fields["description"], class: "form-control" %>
        <% else %>
          <%= f.text_area :description, class: "form-control" %>
        <% end %>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-3 control-label">Date</label>
      <div class="col-sm-5">
        <%= f.date_field :date, class: "form-control" %>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-3 control-label">Vendor</label>
      <div class="col-sm-5">
            <%= f.collection_select :vendor_id, @vendors.all, :id, :name, prompt: true, :include_blank => "No Vendor" %>
            &nbsp; <%= link_to "(Add New Vendor)", new_dealership_vendor_path(@dealership), target: "_blank" %>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-3 control-label"></label>
      <div class="col-sm-5">
            <%= f.submit "Update Expense", :class => 'btn btn-success'  %>
      </div>
    </div>
    <% end %>




  </div>
</div>



