
<div class="page-container"><!-- add class "sidebar-collapsed" to close sidebar by default, "chat-visible" to make chat appear always -->

  <%= render 'layouts/sidebar' %>



  <div class="main-content">
    <%= render 'layouts/dealer_admin_nav' %>

    <div class="profile-env">

      <header class="row">

        <div class="col-sm-2">

          <span class="profile-picture">
            <img src="/cash.png" height ="115" width="115" style="border-radius: 50%;" />
          </span>

        </div>

        <div class="col-sm-3">

          <ul class="profile-info-sections">




          </ul>

        </div>

        <div class="col-sm-7">

          <div class="profile-buttons">
            <%= form_tag(controller: "expenses", action: "get_dates", remote: true, class: "form-horizontal form-groups-bordered") do %>
            <div class="form-group">

              <div class="col-sm-4">
                <b>Start Date</b>
                <div class="input-group">

                  <%= date_field_tag(:start_date, value = params[:start_date]) %>


                </div>
              </div>
            </div>
            <div class="form-group">

              <div class="col-sm-4">
                <b>End Date</b>
                <div class="input-group">
                  <%= date_field_tag(:end_date, value = params[:end_date]) %>
                  <br/>
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-4">
                <div class="input-group">
                  <%= hidden_field_tag(:dealership_id, @dealership.id) %>
                  <br/>
                  <%= submit_tag("Filter Expenses", class: "btn btn-info") %>
                </div>
              </div>
            </div>

            <% end %>


          </div>
        </div>
        <br/>

      </header>

      <section class="profile-info-tabs">

        <div class="row">
          <div class="col-sm-offset-2 col-sm-10">
            <% if @is_admin == true %>
            <div class="row">
              <div class="col-md-3">
                <div class="profile-stat">
                  <h4><%= "$#{number_with_precision(@profit, :delimiter => ',', precision: 2)}" %></h4>
                  <span><a href="#">Net Profit</a></span>
                </div>
              </div>
              <div class="col-md-3">
                <div class="profile-stat">
                  <h4><%= "$#{number_with_precision(@revenue_total, :delimiter => ',', precision: 2)}" %></h4>
                  <span><a href="#">Revenue</a></span>
                </div>
              </div>
              <div class="col-md-3">
                <div class="profile-stat">
                  <h4><%= "$#{number_with_precision(@expense_total, :delimiter => ',', precision: 2)}" %></h4>
                  <span><a href="#">Expense</a></span>
                </div>
              </div>


            </div>
            <% end %>




            <!-- tabs for the profile links -->
            <ul class="nav nav-tabs">
              <li class="active"><a href="#revenue" data-toggle="tab">Revenues</a></li>
              <li><a href="#expense" data-toggle="tab">Expenses</a></li>
              <% if @is_admin == true %><li><a href="#overview" data-toggle="tab">Overview</a></li><% end %>
            </ul>




          </div>


        </div>

      </section>
      <div class="tab-content">
        <div class="tab-pane active" id="revenue">
          <section class="profile-feed">
            <div class="profile-stories">

              <%= link_to "<i class='entypo-plus'></i> Create Deal".html_safe, new_dealership_deal_path(@dealership), class: "btn btn-success", role: "button" %>&nbsp;<%= link_to "<i class='entypo-plus'></i> Add Misc Revenue".html_safe, new_dealership_revenue_path(@dealership), class: "btn btn-success", role: "button" %>
              <br/>

              <ul class="nav nav-tabs">
                <li class="active"><a href="#deal" data-toggle="tab">Vehicle Sales</a></li>
                <li><a href="#misc" data-toggle="tab">Misc Revenue</a></li>
              </ul>

              <div class="tab-content">
                <div class="tab-pane active" id="deal">
                  <br/>
                  <table class="table table-bordered datatable" id="table-1">
                    <thead>
                      <tr>
                        <th>Name</th>
                        <th>Amount</th>
                        <th>Date</th>
                        <th>Manage</th>
                      </tr>
                    </thead>
                    <tbody>
                      <% @deals.each do |deal| %>
                      <tr class="gradeU">
                        <% car = Car.find(deal.car_id) %>
                        <td><%= link_to "Sold #{car.make_model_year}", dealership_deal_path(@dealership, deal)  %></td>
                        <td><%= "$#{number_with_precision(deal.amount, :delimiter => ',', precision: 2)}"  %></td>
                        <td><%= deal.date.strftime("%m/%d/%Y")  %></td>
                        <td><%= link_to "Edit", edit_dealership_deal_path(@dealership, deal)  %></td>
                      </tr>
                      <% end %>
                    </tbody>
                  </table>
                  <%= "There are no vehicle sales entries in this date range" if @deals.length ==0 %>
                </div>
                <div class="tab-pane" id="misc">
                  <br/>
                  <table class="table table-bordered datatable" id="table-1">
                    <thead>
                      <tr>
                        <th>Name</th>
                        <th>Amount</th>
                        <th>Date</th>
                        <th>Manage</th>
                      </tr>
                    </thead>
                    <tbody>
                      <% @revenues.each do |revenue| %>
                      <tr class="gradeU">
                        <td><%= link_to revenue.name, dealership_revenue_path(@dealership, revenue) %></td>
                        <td><%= "$#{number_with_precision(revenue.amount, :delimiter => ',', precision: 2)}"  %></td>
                        <td><%= revenue.date.strftime("%m/%d/%Y")  %></td>
                        <td><%= link_to "Edit", edit_dealership_revenue_path(@dealership, revenue)  %></td>
                      </tr>
                      <% end %>
                    </tbody>
                  </table>
                  <%= "There are no misc revenue entries in this date range" if @revenues.length ==0 %>
                </div>
              </div>





            </div>
          </section>
        </div>
        <div class="tab-pane" id="expense">
          <section class="profile-feed">
            <div class="profile-stories">
              <% if @is_admin == true %>
              <%= link_to "<i class='entypo-plus'></i> Add Vehilcle Expense".html_safe, new_dealership_car_path(@dealership), class: "btn btn-success", role: "button" %> &nbsp;
              <% end %>
               <%= link_to "<i class='entypo-plus'></i> Add Repair Expense".html_safe, new_dealership_repair_path(@dealership), class: "btn btn-success", role: "button" %> &nbsp;
               <% if @is_admin == true %>
               <%= link_to "<i class='entypo-plus'></i> Add Paycheck Expense".html_safe, new_dealership_paycheck_path(@dealership), class: "btn btn-success", role: "button" %> &nbsp;
               <% end %>
               <%= link_to "<i class='entypo-plus'></i> Add Misc Expense".html_safe, new_dealership_expense_path(@dealership), class: "btn btn-success", role: "button" %>
              <br/>

              <ul class="nav nav-tabs">
                <% if @is_admin == true %><li class="active"><a href="#purchase" data-toggle="tab">Vehicle Purchases</a></li><% end %>
                <% if @is_admin != true %>
                  <li class="active"><a href="#repair" data-toggle="tab">Repairs</a></li>
                <% else %>
                  <li><a href="#repair" data-toggle="tab">Repairs</a></li>
                <% end %>
                <% if @is_admin == true %><li><a href="#paycheck" data-toggle="tab">Employee Paychecks</a></li><% end %>
                <li><a href="#misc-exp" data-toggle="tab">Misc Expenses</a></li>
              </ul>

              <div class="tab-content">
                <% if @is_admin == true %>
                <div class="tab-pane active" id="purchase">
                  <table class="table table-bordered datatable" id="table-1">
                    <thead>
                      <tr>
                        <th>Name</th>
                        <th>Amount</th>
                        <th>Date</th>
                        <th>Manage</th>
                      </tr>
                    </thead>
                    <tbody>
                      <% @purchases.each do |purchase| %>
                      <tr class="gradeU">
                        <% car = Car.find_by_make_model_year(purchase.name) %>
                        <td><%= link_to "Purchased for #{purchase.name}", dealership_car_path(@dealership, car)  %></td>
                        <td><%= "$#{number_with_precision(purchase.amount, :delimiter => ',', precision: 2)}" %></td>
                        <td><%= purchase.date.strftime("%m/%d/%Y")  %></td>
                        <td><%= link_to "Edit", edit_dealership_car_path(@dealership, car)  %>
                        </tr>
                        <% end %>
                      </tbody>
                    </table>
                    <%= "There are no vehicle purchases in this date range" if @purchases.length ==0 %>
                  </div>
                  <% end %>
                  <% if @is_admin != true %>
                    <div class="tab-pane active" id="repair">
                  <% else %>
                    <div class="tab-pane" id="repair">
                  <% end %>
                    <table class="table table-bordered datatable" id="table-1">
                      <thead>
                        <tr>
                          <th>Name</th>
                          <th>Vehicle</th>
                          <th>Amount</th>
                          <th>Date</th>
                          <th>Manage</th>
                        </tr>
                      </thead>
                      <tbody>
                        <% @repairs.each do |repair| %>
                        <tr class="gradeU">
                          <% car = Car.find(repair.car_id) %>
                          <td><%= link_to repair.name, dealership_repair_path(@dealership, repair) %></td>
                          <td><%= link_to car.make_model_year, dealership_car_path(@dealership, car) %></td>
                          <td><%= "$#{number_with_precision(repair.amount, :delimiter => ',', precision: 2)}" %></td>
                          <td><%= repair.date.strftime("%m/%d/%Y")  %></td>
                          <td><%= link_to "Edit", edit_dealership_repair_path(@dealership, repair)  %> | <%= link_to "Delete", dealership_repair_path(@dealership, repair), method: "delete", confirm: "Are you sure?"  %></td>
                        </tr>
                        <% end %>
                      </tbody>
                    </table>
                    <%= "There are no repair expenses in this date range" if @repairs.length ==0 %>
                  </div>
                  <% if @is_admin == true %>
                  <div class="tab-pane" id="paycheck">
                    <table class="table table-bordered datatable" id="table-1">
                     <thead>
                       <tr>
                         <th>Employee</th>
                         <th>Amount</th>
                         <th>Date</th>
                         <th>Manage</th>
                       </tr>
                     </thead>
                     <tbody>
                       <% @paychecks.each do |paycheck| %>
                       <% employee = Employee.find(paycheck.employee_id) %>
                       <tr class="gradeU">
                         <td><%= link_to "#{paycheck.name}", dealership_paycheck_path(@dealership, paycheck)  %></td>
                         <td><%= "$#{number_with_precision(paycheck.amount, :delimiter => ',', precision: 2)}" %></td>
                         <td><%= paycheck.date.strftime("%m/%d/%Y")  %></td>
                         <td><%= link_to "Edit", edit_dealership_paycheck_path(@dealership, paycheck)  %> | <%= link_to "Delete", dealership_paycheck_path(@dealership, paycheck), method: "delete", confirm: "Are you sure?"  %></td>

                       </tr>
                       <% end %>
                     </tbody>
                   </table>
                   <%= "There are no payroll expenses in this date range" if @paychecks.length ==0 %>
                 </div>
                 <% end %>
                 <div class="tab-pane" id="misc-exp">
                   <table class="table table-bordered datatable" id="table-1">
                    <thead>
                      <tr>
                        <th>Name</th>
                        <th>Amount</th>
                        <th>Date</th>
                        <th>Manage</th>
                      </tr>
                    </thead>
                    <tbody>
                      <% @expenses.each do |expense| %>
                      <tr class="gradeU">
                        <td><%= link_to expense.name, dealership_expense_path(@dealership, expense) %></td>
                        <td><%= "$#{number_with_precision(expense.amount, :delimiter => ',', precision: 2)}" %></td>
                        <td><%= expense.date.strftime("%m/%d/%Y")  %></td>
                        <td><%= link_to "Edit", edit_dealership_expense_path(@dealership, expense)  %> | <%= link_to "Delete", dealership_expense_path(@dealership, expense), method: "delete", confirm: "Are you sure?"  %></td>
                      </tr>
                      <% end %>
                    </tbody>
                  </table>
                  <%= "There are no misc expenses in this date range" if @expenses.length ==0 %>
                </div>
              </div>
            </div>
          </section>
        </div>
        <% if @is_admin == true %>
        <div class="tab-pane" id="overview">
          <section class="profile-feed">
            <div class="profile-stories">
              <div class="invoice">


                <div class="margin"></div>

                <div class="row">

                    <div class="col-sm-3 invoice-left">



                    </div>

                    <div class="col-sm-3 invoice-left">


                    </div>

                    <div class="col-md-6 invoice-right">

                      <% if params[:start_date]  %>
                      <h5><%= "Date Range: #{params[:start_date]} to #{params[:end_date]}" %></h5>
                      <br/>
                      <% end %>

                    </div>

                  </div>



                <table class="table">
                  <thead>
                    <tr>
                      <th width="30%">Revenues</th>
                      <th width="50%"></th>
                      <th class="text-right">Total</th>
                    </tr>
                  </thead>

                  <tbody>
                    <tr>
                      <td>Vehicle Sales</td>
                      <td></td>
                      <td class="text-right"><%= "$#{number_with_precision(@deal_total, :delimiter => ',', precision: 2)}" %></td>
                    </tr>

                    <tr>
                      <td>Misc Revenue</td>
                      <td></td>
                      <td class="text-right"><%= "$#{number_with_precision(@misc_revenue_total, :delimiter => ',', precision: 2)}" %></td>
                    </tr>

                    <tr>
                      <td><b>Total</b></td>
                      <td></td>
                      <td class="text-right"><b><%= "$#{number_with_precision(@revenue_total, :delimiter => ',', precision: 2)}" %></b></td>
                    </tr>




                  </tbody>
                </table>

                <table class="table">
                  <thead>
                    <tr>
                      <th width="30%">Expenses</th>
                      <th width="50%"></th>
                      <th class="text-right">Total</th>
                    </tr>
                  </thead>

                  <tbody>
                    <tr>
                      <td>Vehicle Purchases</td>
                      <td></td>
                      <td class="text-right"><%= "$#{number_with_precision(@purchase_total, :delimiter => ',', precision: 2)}" %></td>
                    </tr>

                    <tr>
                      <td>Repair Expenses</td>
                      <td></td>
                      <td class="text-right"><%= "$#{number_with_precision(@repair_total, :delimiter => ',', precision: 2)}" %></td>
                    </tr>

                    <tr>
                      <td>Payroll Expenses</td>
                      <td></td>
                      <td class="text-right"><%= "$#{number_with_precision(@paycheck_total, :delimiter => ',', precision: 2)}" %></td>
                    </tr>

                    <tr>
                      <td>Misc Expenses</td>
                      <td></td>
                      <td class="text-right"><%= "$#{number_with_precision(@misc_expense_total, :delimiter => ',', precision: 2)}" %></td>
                    </tr>

                    <tr>
                      <td><b>Total</b></td>
                      <td></td>
                      <td class="text-right"><b><%= "$#{number_with_precision(@expense_total, :delimiter => ',', precision: 2)}" %></b></td>
                    </tr>




                  </tbody>
                </table>

                <table class="table">
                  <thead>
                    <tr>
                      <th width="30%">Net Profit</th>
                      <th width="50%"></th>
                      <th class="text-right">Total</th>
                    </tr>
                  </thead>

                  <tbody>
                    <tr>
                      <td>Net Profit</td>
                      <td></td>
                      <td class="text-right"><b><%= "$#{number_with_precision(@profit, :delimiter => ',', precision: 2)}" %></b></td>
                    </tr>
                  </tbody>
                </table>


                </div>

              </div><!-- Footer -->

            </div>
          </section>
        </div>
        <% end %>

      </div>
    </div>
  </div>
</div>



