<div class="page-container"><!-- add class "sidebar-collapsed" to close sidebar by default, "chat-visible" to make chat appear always -->

  <%= render 'layouts/sidebar' %>



  <div class="main-content">
    <%= render 'layouts/dealer_admin_nav' %>

    <h2> Basic Information</h2>
    <p><%= @expense.name %></p>
    <p><%= @expense.amount %></p>
    <p><%= @expense.description %></p>
    <p><%= @expense.date %></p>
    <p><%= link_to @vendor.name, dealership_vendor_path(@dealership, @vendor) if @vendor %></p>

    <%= link_to "Edit Expense", edit_dealership_expense_path(@dealership, @expense) %>


  </div>
</div>




