<div class="container">

  <h2> Basic Information</h2>
  <p><%= @expense.name %></p>
  <p><%= @expense.amount %></p>
  <p><%= @expense.description %></p>
  <p><%= @expense.date %></p>
  <p><%= link_to @vendor.name, dealership_vendor_path(@dealership, @vendor) if @vendor %></p>

  <%= link_to "Edit Expense", edit_dealership_expense_path(@dealership, @expense) %>

</div>