<div class="page-container"><!-- add class "sidebar-collapsed" to close sidebar by default, "chat-visible" to make chat appear always -->

  <%= render 'layouts/sidebar' %>



  <div class="main-content">
    <%= render 'layouts/dealer_admin_nav' %>
    <%= form_for [@dealership, @repair] do |f| %>
    <%= render 'layouts/error_messages', object: f.object %>

    <div class="form-group">
      <%= f.label :name %><br/>
      <%= f.text_field :name %>
    </div>
    <div class="form-group">
      <%= f.label :amount %><br/>
      <%= f.text_field :amount %>
    </div>
    <div class="form-group">
      <%= f.label :description %><br/>
      <% if @fields %>
        <%= f.text_area :description, value: @fields["description"] %>
      <% else %>
        <%= f.text_area :description %>
      <% end %>
    </div>
    <div class="form-group">
      <%= f.label :date %><br/>
      <%= f.date_field :date %>
    </div>
    <div class="form-group">
      <%= f.label :car_id %><br/>
      <%= f.collection_select :car_id, @cars.all, :id, :make_model_year, prompt: true %>
    </div>
    <div class="form-group">
      <%= f.label :vendor_id %><br/>
      <%= f.collection_select :vendor_id, @vendors.all, :id, :name, prompt: true %>
    </div>

    <%= f.submit "Edit Repair Expense", :class => 'btn btn-success'  %>
    <% end %>




  </div>
</div>

